.about {
    background: #ffffff;

    .sub-container {
      margin: 40px 0 75px;
    }
  
  .visual {
    position: relative;
    height: 740px;
    margin: 40px -25px 0;
    background-position: center center;
    background-size: cover;
    color: #ffffff;

    &__wrap {
      position: absolute;
      bottom: 65px;
      left: 25px;
    }

    &__type {
      font-size: 14px;
      font-weight: 600;
      @include FontBasicSans; 
    }

    &__title {
      margin-top: 5px;
      font-size: 20px;
      line-height: 30px;
      @include FontBD; 
    }

    &__description {
      margin-top: 20px;
      font-size: 14px;
      letter-spacing: -.6px;
      @include FontDL;
    }
  }

  .sub-content {
    position: relative;
    margin: 0 25px; 

    &__type {
      color: #EA2126;
      font-size: 14px;
      @include FontMD;
    }

    &__title {
      margin-top: 5px;
      font-size: 20px;
      letter-spacing: -.6px;
      line-height: 30px;
      @include FontBD;
    }

    &--history {
      margin: 0 0 0 25px;
    }

    &--goal {
      position: relative;
      background-color: #FAFAFA;
      padding: 42px 0 57px;
    }

    &--goal::before {
      position:absolute;
      top:0;
      left: -25px;
      width: 25px;
      height: 100%;
      background-color: #FAFAFA;
      content: '';
    }

    &--goal::after {
      position:absolute;
      top:0;
      right: -25px;
      width: 25px;
      height: 100%;
      background-color: #FAFAFA;
      content: '';
    }

    &--goal img {
      margin-top: 20px;
      margin-bottom: 40px;
    }

    &--goal a {
      display: block;
      width: 100%;
      height: 50px;
      background: #000000;
      color: #ffffff;
      font-size: 16px;
      line-height: 50px;
      border-radius: 4px;
      text-align: center;
      @include FontBD;
    }

    &--goal a::after {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-left: 10px;
      background: url('../../../assets/images/m/sub/icon_download_line.png') center center no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-top: -5px;
      content: '';
    }

    &--description  {
      position: relative;
      margin-top: 50px;
    }

    &--description img {
      position: absolute;
      left: 0;
      width: 106px;
      margin-top: 30px;
    }

    &--description .sub-content__wrap {
      margin-top: 30px;
      margin-left: 130px;
    }

    &--description .sub-content__wrap p {
      margin-top: 20px;
      color: #666666;
      font-size: 14px;
      @include FontDL;
    }

    &--description .sub-content__wrap p span {
      display: block;
      color: #000000;
      font-size: 14px;
      @include FontBD;
    }
  }

  .sub-slide {
    margin-top: 40px;
    padding-bottom: 52px;
    
    &__arrow {
      position:relative;
      width: 120px;
      margin: 45px auto;
    }

    &__date {
      position: absolute;
      left: 0;
      color: #666666;
      font-size: 14px;
    }

    &__description {
      padding-left: 60px;
      color: #000000;
      font-size: 14px;
    }

    &__year {
      margin-bottom: 40px;
      color: #888888;
      font-size: 20px;
      @include FontBasicSans; 
    }

    .sub-slide__description + .sub-slide__description {
      margin-top: 5px;
    }

    ul {
      position: absolute;
      padding-left: 60px;
      color: #666666;
      font-size: 14px;
    }

    ul li {
      position: relative;
      margin-top: 5px;
      padding-left: 8px;
    }

    ul li::before {
      display: inline-block;
      position: absolute;
      left: 0;
      width: 5px;
      height: 20px;
      color: #666666;
      content: '-'
    }
  }

  .swiper-button-prev {
    width: 35px;
    height: 35px;
    background: url('../../../assets/images/m/sub/icon_about_prev.png') center center no-repeat;
    background-size: contain;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-next {
    width: 35px;
    height: 35px;
    background: url('../../../assets/images/m/sub/icon_about_next.png') center center no-repeat;
    background-size: contain;
  }

  .state-bar {
    position: relative;
    top: 80px;
    width: auto;
    height: 3px;
    background: #DDDDDD;

    &--fill {
      width: 0;
      height: 3px;
      background: #EA2126;
      transition: .3s all ease-in-out;
    }
  }

  .swiper-slide-active .sub-slide__year {
    color: #EA2126;
    font-weight: bold;
  }
}
