.campaign {
  background: #ffffff;


  .sub-head-slide {
    margin-top: 40px;

    &__image {
      display: block;
      padding-top: 100%;
      border-radius: 6px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    &__wrap {
      position: absolute;
      top: 25px;
      left: 20px;
    }

    &__type {
      color: #ffffff;
      font-size: 20px;
      line-height: 1;
      font-weight: 600;
    }

    &__list {
      margin-top: 33px;
    }

    &__list li button {
      position: relative;
      margin-bottom: 15px;
      color: #ffffff;
      font-size: 14px;
      line-height: 1;
      @include FontDL;
    }

    &__list li::after {
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-left: 7.5px;
      border-right: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      transform: rotate(-45deg);
      content: '';
    }

    &__list .numbering {
      display: inline-block;
      margin-top: -3px;
      margin-right: 13px;
      font-size: 14px;
    }

    &__list p {
      display: inline-block;
      line-height: 1;
    }

    &__list p::after {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #ffffff;
      content: '';
    }

    .swiper-slide:first-child {
      margin-left: 25px;
    }
  }

  .sub-head-slide__box--black {
    .sub-head-slide__list li button, 
    .sub-head-slide__type {
      color: #000000;
    }
    .sub-head-slide__list p::after {
      background-color: #000000;
    }

    .sub-head-slide__list li::after {
      border-right: 1px solid #000000;
      border-bottom: 1px solid #000000;
    }

  }

  .accordian {
    width: 100%;
    padding: 50px 25px 75px;
    box-sizing: border-box;

    &__title::before {
      margin-top: 5px;
    }

    &__item {
      width: 100%;
    }
  }

  .sub-content {
    &__title {
      font-size: 14px;
      @include FontBD;
    }
  }

  .accordian__item--active .accordian__content {
    border-top: none;
    border-bottom: 1px solid #DDDDDD;
  }

  .list-content {
    position: relative;
    padding-top: 15px; 

    &__label {
      display: inline-block;
      position: absolute;

    }

    &__label span {
      font-size: 14px;
    }
    
    &__title {
      padding-left: 25px;
      font-size: 14px;
      @include FontMD; 
    }

    &__description {
      padding-left: 25px;
      color: #666666;
      font-size: 14px;
      @include FontDL;
    }
  }

  .diagram {
    &__title {
      margin-top: 50px;
      font-size: 14px;
      @include FontBD;
    }
    
    &__list {
      margin-bottom: 40px;
    }

    &__icon {
      position: absolute;
      top: 20px;
      left: 25px;
      width: 35px;
      height: 35px;
    }
    
    &__phase {
      position: relative;
      padding-left: 75px;
      text-align: left;
      background-color: #FAFAFA;
      border-radius: 6px;
    }

    &__section--countersection {
      padding: 10px;
      background-color: #FAFAFA;
    }

    &__section--countersection .diagram__phase {
      background-image: repeating-linear-gradient(0deg, #666666, #666666 1px, transparent 1px, transparent 5px, #666666 5px), repeating-linear-gradient(90deg, #666666, #666666 1px, transparent 1px, transparent 5px, #666666 5px), repeating-linear-gradient(180deg, #666666, #666666 1px, transparent 1px, transparent 5px, #666666 5px), repeating-linear-gradient(270deg, #666666, #666666 1px, transparent 1px, transparent 5px, #666666 5px);
      background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
      background-position: 0 0, 0 0, 100% 0, 0 100%;
      background-repeat: no-repeat;
      border-radius: 6px;
    }

    &__section--remarked {
      padding: 10px;
      background-color: #FAFAFA;
    }

    &__section--remarked .diagram__phase {
      padding-bottom: 10px;
      background-image: repeating-linear-gradient(0deg, #666666, #666666 1px, transparent 1px, transparent 5px, #666666 5px), repeating-linear-gradient(90deg, #666666, #666666 1px, transparent 1px, transparent 5px, #666666 5px), repeating-linear-gradient(180deg, #666666, #666666 1px, transparent 1px, transparent 5px, #666666 5px), repeating-linear-gradient(270deg, #666666, #666666 1px, transparent 1px, transparent 5px, #666666 5px);
      background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
      background-position: 0 0, 0 0, 100% 0, 0 100%;
      background-repeat: no-repeat;
      border-radius: 6px;
    }

    &__phase section .item {
      position: relative;
      width: calc(100% + 44px);
      height: 40px;
      margin-left: -59px;
      color: #666666;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      background: #ffffff;
      border-radius: 6px;
    }

    &__phase section .item + .item {
      margin-top: 5px;
    }

    &__list--listed .diagram__phase {
      margin-bottom: 15px;
      padding-bottom: 15px;
    }

    &__phase--bg-white {
      margin: 10px;
      height: 50px;
      background: #ffffff;
      border-radius: 6px;
    }

    &__phase--bg-white .phase__title {
      line-height: 50px;
    }

    &__phase--bg-white .diagram__icon {
      top: 10px;
    }

    &__section {
      margin-top: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #FAFAFA;
      border-radius: 6px;
    }

    .diagram__title + .diagram__list {
      margin-top: 10px;
    }
  }

  .phase {
    &__title {
      font-size: 14px;
      line-height: 66px;
    }

    &__type {
      display: inline-block;
      margin-top: 9px;
      margin-left: 15px;
      font-size: 14px;
      @include FontDL;
    }

    &__icon--arrow {
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
    }

    &__icon--arrow::after {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../../../assets/images/m/sub/icon_arrow_down.png') center center no-repeat;
      background-size: contain;
      content: '';
    }

    &__icon--countersection {
      text-align: center;
    }

    &__icon--countersection::after {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../../../assets/images/m/sub/icon_arrow_down.png') center center no-repeat;
      background-size: contain;
      content: '';
    }

    &__icon--countersection::before {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../../../assets/images/m/sub/icon_arrow_up.png') center center no-repeat;
      background-size: contain;
      content: '';
    }

    &__description {
      margin-top: -18px;
      color: #666666;
      font-size: 14px;
      letter-spacing: -.2px;
    }

    &__icon--plus {
      text-align: center;
    }

    &__icon--plus::before {
      display: inline-block;
      width: 12px;
      height: 45px;
      background: url('../../../assets/images/m/sub/icon_plus.png') center center no-repeat;
      background-size: contain;
      content: '';
    }
  }
}
