@charset "utf-8";

/** LAYOUTS **/

.open-gnb {
  overflow: hidden; 

  .burger-sticks:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 7px);
  }

  .burger-sticks:nth-child(2) {
    background: transparent;
  }

  .burger-sticks:nth-child(3) {
    transform: rotate(45deg) translate(-4px, -7px);
  }

  .gnb {
    top: 0;
    right: 0;
    z-index: 99;
  }

  .header__button {
    z-index: 999;
  }
}

.scrolled {
  background-color: #ffffff;

  .burger-sticks {
    background: #000000;
  }
  .logo__default {
    background: url('../../images/m/logo_gray.png') 0 0 no-repeat;
    background-size: contain;
  }
}

.section {
  text-align: center;

  &__head {
    margin: 0 25px;
  }

  &__title {
    font-size: 23px;
    letter-spacing: -.03px;
    font-weight: bold;
    line-height: 32px;
  }

  &__desc {
    line-height: 35px;
  }

  &__label {
    display: block;
    margin-top: 75px;
    margin-bottom: 20px;
    color: #EA2126;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
  }

  &__desc {
    margin-top: 10px;
    margin-bottom: 25px;
    line-height: 23px;
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 55px;
  padding: 0 25px;
  transition: all .2s ease-out;
  z-index: 9;
  box-sizing: border-box;

  &__button {
    position: absolute;
    top: 18px;
    right: 25px;
    width: 23px;
    height: 18px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__inner {
    padding-top: 18px;
  }
}

.burger-sticks {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transition: all .2s ease-out;
  content: '';

  &:nth-child(1) {
    position: absolute;
    top:0;
  }

  &:nth-child(2) {
    position: absolute;
    top: 50%;
    margin-top: -1px;
  }

  &:nth-child(3) {
    position: absolute;
    bottom: 0
  }

}

.gnb {
  position: absolute;
  top: 0;
  right: -101%;
  width: 100%;
  height: 100vh;
  background-color: #666666;
  transition: all .2s ease-out;
  z-index: 9;
}

.card-box {
  &__item {
    margin: 0 25px;
    padding: 25px;
    box-sizing: border-box;
  }

  &__header {
    text-align: left;
  }

  &__content {
    text-align: right;
    margin-top: 13px;
  }
}

.banner {
  height: 265px;
  
  &__content {
    margin: 0 25px;
    height: 100%;
  }
}

.button {
	&__wrap {
		display: inline-block;
		margin: 0 auto;
	}

	&__radius {

	}

	&__radius--filled-red {
    display: inline-block;
    padding: 9px 25px;
    color: #ffffff;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: -.03px;
    font-weight: bold;
    background-color: #EA2126;
    border-radius: 45px;
  }

	&__lined-white {

	}

	&__icon {

	}
}

.footer {
  &__nav {
    display: block;
  }

}

.footer-top {
  margin: 0 25px;
}

.footer-bottom {
  margin: 0 25px;
  flex-basis: auto;
}

.logo {
  &__footer {
    display: block;
  }

  &__default {
    display: inline-block;
    width: 82px;
    height: 15.5px;
    background: url('../../images/m/logo_color.png') 0 0 no-repeat;
    background-size: contain;
    transition: all .2s ease-out;
  }
}

