@charset "utf-8";

/** LAYOUTS **/

.section {
  border: 3px solid violet;
  text-align: center;

  &__head {
    margin: 0 25px;
    border: 1px solid red;
  }

  &__title {
    font-size: 23px;
    letter-spacing: -.03px;
    font-weight: bold;
    line-height: 35px;
  }

  &__desc {
    line-height: 35px;
  }

  &__label {
    display: block;
    margin-top: 75px;
    margin-bottom: 20px;
    color: #EA2126;
    font-size: 15px;
    font-weight: bold;
  }

  &__desc {
    margin-top: 10px;
    margin-bottom: 25px;
    line-height: 23px;
  }
}

.header {
  padding: 0;
  margin: 0 25px;
}

.header__inner, 
.footer-bottom, 
.footer-top__inner {
  max-width: 100%;
}

.image-block {
  display: inline-block;
  width: 250px;
  min-height: 330px;
  border-radius: 24px;
  border: 1px solid red;
  text-align: left;
}

.banner {
  height: 265px;
  border: 3px solid violet;
  
  &__content {
    margin: 0 25px;
    height: 100%;
    border: 1px solid #EA2126;
  }
}

.box-item {
	height: 100%;
	flex: 1.55;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&--center {
		flex: 1.7;
		background-color: #ffffff;
	}

	&:hover {
		> .box__content {
			left: 0;
			right: 0;
		}
	}
}

.button {

	&__wrap {
		display: inline-block;
		margin: 0 auto;
	}

	&__radius {

	}

	&__colored-red {

	}

	&__lined-white {

	}

	&__icon {

	}
}

.footer {
  &__nav {
    display: block;
  }
  
}

.logo {
  &__footer {
    display: block;
  }
}

