.contact {
  background: #ffffff;

  .sub-header__title {
    margin-bottom: -10px;
  }

  .sub-content {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;

    &__title {
      font-size: 16px;
      letter-spacing: -.3px;
      line-height: 21px;
      @include FontBD;
    }

    .description {
      padding-top: 3px;
      color: #888888;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -.3px;
    }
  }

  .sub-checkbox { 
    display: block;
    margin: 0 -5px;

    &::after {
      display: block;
      content: '';
      clear: both;
    }

    &__item {
      float: left;
      width: calc(50% - 10px);
      margin: 5px;
    } 

    &__item--full {
      width: calc(100% - 10px);
      margin: 5px 0 5px 5px;
    }

    &--route {
      margin-top: 10px;
    }

    &__label {
      margin-top: 35px;
    }
  }

  .input {
    &__checkbox {
      width: auto;
    }

    &__checkbox-label {
      width: 100%;
    }
  }

  .input-box {
    &--file {
      margin-top: 15px;
      background-color: #FAFAFA;
      padding: 25px;
      border-radius: 4px;
    } 
  }

  .drop-box {
    margin-top: 10px;

    &__title {
      letter-spacing: -.3px;
      padding: 0 15px;
      line-height: 52px;
    }

    &__text {
      color: #888888;
      font-size: 14px;
      line-height: 50px;
      @include FontRG; 
    }

    &__wrap {
      top: 49px;
    }
  }

  .sub-checkboxs {
    margin: 40px 25px 0;
    border-top: 1px solid #000000;

    a {
      position: absolute;
      margin-top: 6px;
      margin-left: 32px;
      color: #222BFF;
      border-bottom: 1px solid #222BFF;
      font-size: 14px;
      line-height: 1;
      letter-spacing: -.3px;
   }
  }

  .form-submit {
    display: block;
    width: calc(100% - 50px);
    height: 50px;
    margin: 40px 25px 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
    border-radius: 4px;
    cursor:default;
    @include FontBD;
  }

  .sub-container .form-submit.submit--active {
    background-color: #000000;
  }

  .sub-info {
    margin-top: 75px;
    padding: 60px 25px;
    background: linear-gradient(#F8F8F8 0px, #F8F8F8 250px, #ffffff 251px, #ffffff 100%);

    &__title {
      font-size: 19px;
      line-height: 28px;
      letter-spacing: -.3px;
      @include FontBD;
    }

    &__position {
      padding-top: 23px;
      padding-bottom: 10px;
      font-size: 14px;
      line-height: 1;
      @include FontDL;
    }

    a {
      display: inline-block;
      position: relative;
      margin-top: 40px;
      margin-bottom: 10px;
      padding-bottom: 4px;
      font-size: 27px;
      line-height: 1;
      letter-spacing: 0.5px;
      border-bottom: 2px solid #000000;
      @include FontBasicSans;
    }

    a::after {
      display: inline-block;
      position: absolute;
      top: -25px;
      left: 226px;
      width: 43px;
      height: 35px;
      background: url('../../images/m/sub/icon_mail.png') 0 0 no-repeat;
      background-size: contain;
      content: '';
    }

    &__description {
      color: #666666;
      font-size: 13px;
      line-height: 19px;
      @include FontDL;
    }
  }

  .sub-footer {
    height: 350px;
    margin: 0 25px 75px;
    background: url('../../images/m/sub/img_contact_banner.png') 0 0 no-repeat;
    background-size: cover;
    border-radius: 5px;

    &__title {
      font-size: 19px;
      line-height: 28px;
      color: #ffffff;
      letter-spacing: -.3px;
    }
  }

  .sub-advertise {
    &__title {
      padding-top: 155px;
      padding-left: 28px;
      padding-right: 28px;
      color: #ffffff;
      font-size: 19px;
      line-height: 28px;
      @include FontBD;
    }

    &__description {
      margin-top: 13px;
      margin-bottom: 15px;
      padding-left: 28px;
      color: #ffffff;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: -.3px;
      @include FontDL;
    }

    &__button {
      display: inline-block;
      width: 150px;
      height: 40px;
      margin-left: 28px;
      background-color: #ffffff;
      color: #000000;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      border-radius: 5px;
      @include FontBD;
    }
  }

  .form-popup {
    overflow: hidden;
    padding: 25px;
    text-align: center;
  }
  
  .input-box--file.warning {
    position: relative;
    border: 1px solid #EA2126;

    .form-warning {
      bottom: -29px;
      left: 3px;
    }
  }
}
