.ethical {
  background: #ffffff;

  .sub-header {
    &__description {
      padding-top: 9px;
    }
  }

  .sub-container {
    display: none;
  }

  .content--active {
    display: block;
  }

  .sub-content {
    margin-top: 30px;
    margin-bottom: 75px;

    &__title {
      position: relative;
      font-size: 14px;
      margin-bottom: 10px;
      @include FontBD;
    }

    &__title--link {
      display: inline-block;
      position: absolute;
      right: 0;
      border-bottom: 1px solid #000000;
      @include FontDL;
    }

    &__description {
      color: #666666;
      font-size: 14px;
      line-height: 21px;
      @include FontDL;
    }
  }

  .list-card {
    padding: 25px;
    margin: 0 25px;
    background-color: #FAFAFA;
    border-radius: 10px;

    &__title {
      margin-bottom: 3px;
      font-size: 15px;
      line-height: 1;
      @include FontBD; 
    }

    &__title span {
      display: block;
      margin-bottom: 50px;
      color: #EA2126;
      font-size: 20px;
      line-height: 1;
      font-weight: bold;
      @include FontBasicSans;
    }

    &__description {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -.02px;
    }

    &__list {
      margin-top: 15px;
    }

    &__list li {
      position: relative;
      margin-top: 5px;
      padding-left: 22px;
      color: #666666;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -.02px;
    }

    &__list span {
      display: block;
      position: absolute;
      left: 0;
      @include FontBasicSans;
    }
  }

  .list-card + .list-card {
    margin-top: 20px;
  }

  .sub-list {
    margin: 0 25px;

    &__title {
      border-bottom: 1px solid #707070;
    }

    &__link {
      display: block;
      position: relative;
      height: 75px;
      color: #000000;
      line-height: 75px;
    }

    &__link::after {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 6.5px;
      height: 6.5px;
      margin-top: -3px;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: #000000;
      transform: rotate(135deg);
      transition: all .2s ease;
      content: '';
    }

    &__wrap {
      padding-top: 10px;
    }

    &__item .sub-list__wrap {
      display: none;
    }

    &__item--active .sub-list__wrap {
      display: block;
    }

    &__item--active .sub-list__link::after {
      transform: rotate(-45deg);
    }

  }

  .declaration-list {
    margin: 20px 25px 0;

    &__description {
      padding: 25px;
      margin-bottom: -10px;
      color: #666666;
      font-size: 14px;
      line-height: 20px;
      border: 1px solid #DDDDDD;
      border-radius: 6px;

      a {
        display: block;
        position: relative;
        padding-top: 15px;
        color: #000000;
        @include FontMD;
      }
      a::after {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 90px;
        height: 1px;
        background: #000000;
        content: '';
      }
    }

    &__title {
      position: relative;
      margin-top: 40px;
      padding-bottom: 8px;
      color: #000000;
      font-size: 14px;
      letter-spacing: -0.02px;
      border-bottom: 1px solid #DDDDDD;
      @include FontBD; 

      a {
        display: inline-block;
        position: absolute; 
        right: 0;
        bottom: 10px;
        border-bottom: 1px solid #000000;
        @include FontRG;
      }
    }

    &__list {
      padding-top: 10px;
    }

    &__list li {
      position: relative;
      margin-top: 5px;
      padding-left: 7.5px;
      font-size: 14px;
    }

    &__list li::before {
      display: inline-block;
      position: absolute;
      top: 11px;
      left: 0;
      width: 3px;
      height: 3px;
      background: #000000;
      border-radius: 50%;
      content: '';
    }

    &__sub-title {
      margin-bottom: -15px;
      padding-top: 15px;
      padding-left: 11px;
      font-size: 14px;
      @include FontMD
    }

    &__sub-list {
      padding-top: 15px;
      padding-left: 11px;
      color: #666666;
      font-size: 14px;
      line-height: 20px;
    }

    &__sub-list li {
      position:relative;
      padding-left: 10px;
    }

    &__sub-list li::before {
      display: inline-block;
      position: absolute;
      left: 0;
      color: #666666;
      font-size: 14px;
      content: '-';
    }

    &__sub-box {
      margin-top: 30px;
      padding: 25px;
      background-color : #FAFAFA;
      border-radius: 6px;
    }

    &__sub-box .declaration-list__list {
      padding-top: 0;
    }

    &__sub-box .declaration-list__list a {
      color: #055BFF;
      border-bottom: 1px solid #055BFF;
    }

    &__button {
      display: block;
      margin-top: 30px;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      background: #000000;
      color: #ffffff;
      text-align: center;
      border-radius: 6px;
      @include FontBD;
      
    }
  }

  .sub-container--declaration  {
    .sub-content {
      display: none;
    }
    .sub-content--active {
      display: block;
    }

    .sub-list-category {
      margin-top: 30px;
    }
  }

  .check-input {
    margin: 0 25px;

    &__wrap {
      padding: 25px 25px 30px; 
      background: #FAFAFA;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      box-sizing: border-box;
    }
    
    &__title {
      padding-bottom: 15px;
      font-size: 14px;
      line-height: 20px;
      @include FontBD;
    }

    &__input {
      display: block;
      padding: 14px;
      width: calc(100% - 30px);
      background: #ffffff;
      border: 1px solid #EEEEEE;
      border-radius: 5px;
    }

    &__button {
      display: block;
      width: 100%;
      height: 50px;
      padding: 0;
      color: #ffffff;
      text-align: center;
      line-height: 50px;
      background-color: #000000;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &__description {
      margin: 20px 0;
      color: #666666;
      font-size: 14px;
    }

    &__description a {
      display: inline-block;
      color: #055BFF;
    }

    .check-input__input + .check-input__input {
      margin-top: 10px;
    }
  }

  .check-content {
    margin: 0 25px;

    &__title {
      margin-bottom: 10px;
      color: #000000;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -.02px;
      @include FontBD;
    }

    &__sub-title {
      margin-bottom: 2px;
      color: #888888;
      font-size: 14px;
      line-height: 20px;
      @include FontDL;
    }

    &__content {
      padding: 25px;
      background: #FAFAFA;
      border-radius: 6px;
    }

    .check-content__description + .check-content__sub-title  {
      margin-top: 20px;
    }

    .check-content__content + .check-content__title {
      margin-top: 40px;
    }

    &__description-image {
      display: inline;
      color: #055BFF;
      border-bottom: 1px solid #055BFF;
    }

    &__recomment {
      position: relative;
      margin-top: 30px;
      padding-top: 30px;
      padding-left: 25px;
      border-top: 1px solid #DDDDDD;
    }

    &__recomment::before {
      position: absolute;
      left: 0;
      width: 16px;
      height: 16px;
      background: url('../../../assets/images/m/sub/icon_enter.png') 0 0 no-repeat;
      background-size: contain;
      content: '';
    }

    &__comment  {
      margin-top: 20px;
      border-radius: 6px;
    }
   
    &__comment textarea {
      width: calc(100% - 25px);
      padding: 20px 10px;
      border:  none;
      background: #ffffff;
      border-radius: 6px;
    }

    &__button {
      display: block;
      width: 100%;
      height: 40px;
      margin-top: 10px;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      background: #DDDDDD;
      border-radius: 4px;
      color: #666666;
      text-align: center;
      @include FontMD;
    }

    &__process {
      padding: 50px 25px; 
      background: #DDDDDD;
      border-radius: 6px;
      text-align: center;
    }

    &__process p {
      color: #888888;
      font-size: 14px;
      line-height: 22px;
     
    }

  }

  .word-box {
    padding: 25px;
    background-color: #FAFAFA;
    border-radius: 6px;

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .input-box--info {
    padding: 35px 25px;
    background: #FAFAFA;
    font-size: 14px;
    box-sizing: border-box;

    &__label {
      color: #000000;
      line-height: 22px;
      letter-spacing: -.03px;
    }

    &__label--necessary::after{
      display: inline-block;
      width: 4px;
      height: 4px;
      margin-left: 3px;
      color: #EA2126;
      content: '*'
    }

    &__input {
      width: 100%;
      margin-top: 10px;
      padding-bottom: 8px;
      border-bottom: 1px solid #DDDDDD;

      &::placeholder {
        color: #888888;
      }
    }

    dl {
      margin-top: 25px;
    }

    dt {
      @include FontMD;
    }

    dd {
      position: relative;
      padding-left: 10px;
      color: #666666;
    }

    dd::before {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
      width: 3px;
      height: 3px;
      background-color: #666666;
      border-radius: 50%;
      content: '';
    }

    dt + dd {
      margin-top: 8px;
    }

    dd + dd {
      margin-top: 5px;
    }

    dd + dt {
      margin-top: 20px;
    }

    dd:last-of-type {
      margin-bottom: 22px;
      padding-bottom: 30px;
      border-bottom: 1px solid #000000;
    }

    dd:last-of-type::before {
      display: none
    }
  }

  .sub-radio {
    margin-top: 10px;
  }

  .name-radio {
    display: inline;
  
  }

  .sub-contents {
    margin: 0 25px;
  }

  .info-form {
    margin-top: 40px;
  }

  .sub-contents + .sub-contents {
    margin-top: 40px;
  }

  .form-field {
    input::placeholder {
      color: #888888;
      font-size: 15px;
      @include FontDL;
    }
  }

  .form-field + .form-field {
    margin-top: 30px;
  }

  #form-detail {
    width: 93%;
    height: 175px;
    margin-top: 5px;
    padding: 15px;
    background: #ffffff;
    border: none;
    border-radius: 6px;

    &::placeholder {
      color: #888888;
    }
  }

  #form-file-text {
    width: 100%;
    height: 50px;
    padding: 14px 15px;
    margin-top: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type=file] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }

  #form-file-button + label {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    color: #666666;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #EEEEEE;
  }

  .numbering {
    @include FontBasicSans;
  }

  #form-etc {
    width: calc(100% - 25px);
    height: 275px;
    margin-top: 15px;
    padding: 15px;
    border: none;

    &::placeholder {
      color: #888888;
      font-size: 15px;
    }

  }

  .sub-checkbox {
    &__label span {
      display: inline-block;
      line-height: 34px;
    }
  }

  .verification {

    &__inner {
      margin-top: 10px;
    }

    .button + .button {
      margin-left: 10px;
    }

    &__notification {
      position: relative;
      display: inline-block;
      margin-top: 3px;
      padding-left: 10px;
      color: #666666;
      font-size: 14px;
      letter-spacing: -.03px;
    }

    &__notification::before {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
      width: 3px;
      height: 3px;
      background-color: #666666;
      border-radius: 50%;
      content: '';
    }


  }

  .button {
    &__wrap {
      display: block;
    }

    &__wrap i {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 3px;
      background-size: contain;
    }

    &__form-submit {
      display: inline-block;
      width: calc(100% - 50px);
      height: 50px;
      margin: 0 25px;
      color: #ffffff;
      font-size: 14px;
      line-height: 50px;
      background-color: #000000;
    }

    &__filled-grey {
      display: inline-block;
      width: calc(50% - 7px);
      padding: 10px 20px;
      background-color: #DDDDDD;
      line-height: 25px;
      border-radius: 2.5px;
      box-sizing: border-box;
    }
  }

  .security {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    padding: 15px;
    background: #ffffff;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-sizing: border-box;

    &::placeholder {
      color: #888888;
    }
  }

  .layer {
    &__head {
      padding: 31px 25px 0;
    }
    &__content {
      padding: 10px 25px 25px;
      box-sizing: border-box;
    }

    &__button {
      width: 100%;
      height: 40px;
      margin-top: 20px;
      line-height: 40px;
      border-radius: 4px;
      background-color: #EA2126;
      color: #ffffff;
      font-size: 14px;
      @include FontBD;
    }
  }
  .content {
    &__title {
      padding-bottom: 7.5px; 
      font-size: 15px;
      border-bottom: 1px solid #DDDDDD;
      @include FontBD;
    }

    &__text li {
      position: relative;
      padding-left: 10px;
      font-size: 14px;
    }

    &__text li+li {
      margin-top: 5px;
    }

    &__text li::before {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
      width: 3px;
      height: 3px;
      background: #000000;
      border-radius: 50%;
      content: '';
    }

    &__text dl {
      margin-left: 10px;
    }

    &__text dt {
      margin-top: 15px;
      @include FontMD;
    }

    &__text dd {
      display: inline-block;
      position: relative;
      padding-left: 8px;
      color: #666666;
      font-size: 14px;
    }

    &__text dd::before {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 4px;
      color: #666666;
      content: '-';
    }
  }



}
