@charset "utf-8";
@import "mixins";

/* WEBFONT */
@font-face {
	font-family:'NS DL';
	src:url('../fonts/NotoSans-DemiLight.woff') format('woff'),
		 url('../fonts/NotoSansKR-DemiLight.woff2') format('woff2'),
		 url('../fonts/NotoSans-DemiLight.otf') format('opentype');
	font-weight:300;
	font-style:normal;
}
@font-face {
	font-family:'NS RG';
	src:url('../fonts/NotoSans-Regular.woff') format('woff'),
		 url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
		 url('../fonts/NotoSans-Regular.otf') format('opentype');
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family:'NS MD';
	src:url('../fonts/NotoSans-Medium.woff') format('woff'),
		 url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
		 url('../fonts/NotoSans-Medium.otf') format('opentype');
	font-weight:500;
	font-style:normal;
}
@font-face {
	font-family:'NS BD';
	src:url('../fonts/NotoSans-Bold.woff') format('woff'),
		 url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
		 url('../fonts/NotoSans-Bold.otf') format('opentype');
	font-weight:700;
	font-style:normal;
}

/** RESET **/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, 
big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, 
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary,time, mark, audio, video {
	margin: 0;padding: 0; vertical-align: top; word-break:keep-all;
	text-decoration:none; -webkit-tap-highlight-color:transparent;
	color: inherit;
	font-weight: normal;
}
fieldset, img, textarea {border: 0;outline: 0;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
img {max-width:100%;}
html, body {
	-webkit-text-size-adjust:none;
	-webkit-text-size-adjust: 100%;
	font-family: 'NS DL','Malgun Gothic',Dotum,'돋움',AppleGothicNeoSD,'Apple SD 산돌고딕 Neo','굴림',arial,sans-serif;
	-ms-word-wrap:break-word;word-wrap:break-word;
	font-size:16px;
	color:$txtBlack;
	line-height:1;
	letter-spacing:-0.05em;
}
ol, ul {list-style: none;}
address,em {font-style: normal}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}
iframe {overflow: hidden; border: 0;}

input:focus { outline: none; }
// input[type=text], input[type=password], input[type=number], input[type=tel], input[type=email] {
// 	width:100%;
// 	height:50px;
// 	padding:13px 15px;
// 	background-color:$bgWhite;
// 	border:1px solid $bdGray;
// 	border-radius: 0;
// 	line-height:1.25;
// 	-webkit-appearance: none;
// 	color:$txtBlack;
// 	font-size:16px;
// 	font-family:'NS MD','Malgun Gothic',Dotum,'돋움',AppleGothicNeoSD,'Apple SD 산돌고딕 Neo','굴림',arial,sans-serif;
// 	line-height:26px;
// 	&:not([readonly]):not([disabled]):not([aria-invalid="true"]) {
// 		&:focus {
// 			border-color:#2CBBB6;
// 			outline: 0;
// 		}
// 	}
// 	&[readonly] {
// 		background-color: #F7F7F7;
// 		color:$txtLightGray;
// 	}
// 	&[aria-invalid="true"] {
// 		position:relative;
// 		padding-right:60px;
// 		border-color:$error;
// 	}
// 	&:disabled {
// 		background-color: #F7F7F7;
// 		color:$txtLightGray;
// 	}
// }
textarea {
	display:block;
	width:100%;
	padding:10px;
	min-height:120px;
	background-color:$bgWhite;
	border:1px solid $bdGray;
	-webkit-appearance: none;
	font-size:16px;
	resize: none;
	color: #000;
	font-family:'NS MD','Malgun Gothic',Dotum,'돋움',AppleGothicNeoSD,'Apple SD 산돌고딕 Neo','굴림',arial,sans-serif;
	&:not([readonly]):not([disabled]):not([aria-invalid="true"]) {
		&:focus {
			border-color:#2CBBB6;
		}
	}
	&[readonly] {
		background-color: #F7F7F7;
		color:$txtLightGray;
	}
	&[aria-invalid="true"] {
		position:relative;
		padding-right:60px;
		border-color:$error;
	}
	&:disabled {
		background-color: #F7F7F7;
		color:$txtLightGray;
	}
	::-webkit-input-placeholder {
		font-size:16px;
		color: $txtLightGray;
		@include FontDL;
	}
	::-moz-placeholder {
		font-size:16px;
		color: $txtLightGray;
		@include FontDL;
	}
	::-moz-placeholder {
		font-size:16px;
		color:$txtLightGray;
		@include FontDL;
	}
}
input::-ms-clear {
	display: none;
}
::-webkit-input-placeholder {
	font-size:16px;
	color:$txtLightGray;
	@include FontDL;
}
::-moz-placeholder {
	font-size:16px;
	color:$txtLightGray;
	@include FontDL;
}
::-moz-placeholder {
	font-size:16px;
	color:$txtLightGray;
	@include FontDL;
}
// input,button,select {vertical-align:middle;}
// input[type=checkbox],
// input[type=radio] {
// 	-webkit-appearance:none;
// 	-moz-appearance:none;
// 	appearance:none;
// 	position: absolute;
// 	width: 1px;
// 	height: 1px;
// 	padding: 0;
// 	margin: -1px;
// 	overflow: hidden;
// 	clip: rect(0, 0, 0, 0);
// 	border: 0;
// 	&:not(.auth__form) + label {
// 		display: inline-flex;
// 		position: relative;
// 		min-height: 25px;
// 		padding-left: 35px;
// 		color: $txtBlack;
// 		font-size: 18px;
// 		line-height: 24px;
// 		&:before {
// 			content: '';
// 			display: block;
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			width: 25px;
// 			height: 25px;
// 			background: {
// 				image: url('../images/icons.png');
// 				repeat: no-repeat;
// 				position: -42px -255px;
// 				size: 180px 300px;
// 			};
// 		}
// 	}
// 	&:checked + label {
// 		@include FontMD;
// 		&:before {
// 			background-position: -67px -255px;
// 		}
// 	}
// }
// * {
// 	-webkit-box-sizing: border-box;
// 		 -moz-box-sizing: border-box;
// 					box-sizing: border-box;
// }
// select{
// 	-webkit-appearance:none;
// 	-moz-appearance:none;
// 	appearance:none;
// 	width:100%;
// 	height:50px;
// 	margin:0;
// 	padding:0 15px;
// 	border:1px solid $bdGray;
// 	border-radius: 0;
// 	color: #000;
// 	font-family:'NS MD','Malgun Gothic',Dotum,'돋움',AppleGothicNeoSD,'Apple SD 산돌고딕 Neo','굴림',arial,sans-serif;
// 	background: {
// 		color:$bgWhite;
// 		image: url(../images/bg_select.png);
// 		repeat:no-repeat;
// 		size:20px 20px;
// 		position: 92% center;
// 	}
// 	background-color: $bgWhite;
// 	outline: none;
// 	line-height:3;
// 	font-size:16px;
// 	cursor: pointer;
// 	&:disabled {
// 		background-color: #F7F7F7;
// 		color:$txtLightGray;
// 	}
// 	&[readonly] {
// 		background-color: #F7F7F7;
// 		color:$txtLightGray;
// 	}
// 	&:not([readonly]):not([disabled]):not([aria-invalid="true"]) {
// 		&:focus {
// 			border-color:#2CBBB6;
// 		}
// 	}
// 	&[aria-invalid="true"] {
// 		position:relative;
// 		padding-right:60px;
// 		border-color:$error;
// 	}
// }
// select::-ms-expand{
// 	display:none;
// }
// button {
// 	text-align: center;
// 	cursor: pointer;
// 	border: none;
// 	border-radius: 0;
// 	margin: 0;
// 	padding: 0;
// 	overflow: visible;
// 	background: transparent;
// 	line-height: normal;
// 	-webkit-font-smoothing: inherit;
// 	-moz-osx-font-smoothing: inherit;
// 	-webkit-appearance: none;
// 	-ms-touch-action: manipulation;
// 	touch-action: manipulation;
// 	-webkit-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;
// 	-webkit-appearance: none;
// 	-moz-appearance: none;
// 	appearance: none;
// }

.noscroll {
	overflow: hidden!important;
	height: 100%;

	.wrap {
		overflow: hidden;
	}
}

.layer__body {
	position: fixed;
  min-height: 100vh;
	z-index: 30001;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .9);
}

.layer__wrap {
	position: absolute;
	z-index: 999;
	top:50%;
	left:50%;
	max-width: 950px;
	width: 100%;
	background-color: #fff;
	opacity: 0;
	@include transform(translate(-50%, -50%));
	-webkit-transition: visibility 0.2s 0.1s, opacity 0.2;
	-moz-transition: visibility 0.2s 0.1s, opacity 0.2;
	-ms-transition: visibility 0.2s 0.1s, opacity 0.2;
	-o-transition: visibility 0.2s 0.1s, opacity 0.2;
	transition: visibility 0.2s 0.1s, opacity 0.2;
}

.layer__close {
	position: absolute;
	z-index: 1000;
	max-width: 950px;
	width: 100%;
	top: 20px;
	right: 0;

	.close_btn {
		position: absolute;
		top: -45px;
		right: -20px;
		width: 40px;
		height: 40px;
		background: {
			image: url();
			size: 40px;
			repeat: no-repeat;
			position: center center;
			color: transparent;
		}
		border: 0;
		border-radius: 50%;
		text-indent:-9999px;
		cursor: pointer;
	}
}

.layer__inner {
  max-height: 85vh;
	overflow-x: hidden;
}

.layer__content {
	max-width: 100%;
	height: 100%;
	padding: 50px;
	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}

.layer__body.is-visible {
	visibility: visible;

	.layer__wrap {
		opacity: 1;
	}

	&[role="dialog"]{
		display: block;
	}
}

/****** Accessibility ******/
.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.skipnavigation {
	position: relative;
	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		z-index: 1;
		display: block;
		font-size: 0;
		background-color: #FFF;
		text-align: center;
		&:focus {	
			height: 30px;
			padding: 4px 0;
			visibility: visible;
			font-size: 1em;
		}
	}
}

/* font family */
.font--dl { @include FontDL; }
.font--rg { @include FontRG; }
.font--md { @include FontMD; }
.font--bd { @include FontBD; }

/** GLOBAL **/

.logo {
	cursor: pointer;
	background: {
		repeat: no-repeat;
		position: center center;
		size: cover;
	}

	&__default {
		position: absolute;
		left: 2.143rem;
		left: calc(2.143rem + env(safe-area-inset-right));
		top: 50%;
		@include transform(translate(0, -50%));
		width: 7rem;
		height: 1.143rem;
	}

	&__footer {

	}
}

.header {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  padding: 0 50px;
	transition: height 0.4s;

	&.scrolled {
		height: 60px;
	}

	&__inner {
		margin: 0 auto;
		max-width: 1920px;
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
	}

	&__util {
		position: absolute;
		right: 20px;
		top: 50%;
		@include transform(translate(0, -50%));
	}
}

.gnb {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&__list {
		margin-left: 50px;
	}
}

.footer {
	z-index: 1;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	background-color: #000000;
	color: #ffffff;

	&__nav {
		display: flex;
		align-items: center;
	}

	&__nav--right {
		margin-left: auto;
	}

	&__util {

		li {
			margin-bottom: 9px;
			font-size: 14px;
			font-weight: 400;
			
			a {
				font-size: inherit;
				font-weight: inherit;
				color: inherit;
			}
		}
	}

	&__util--right {
		margin-left: auto;
	}

	.copyright {
		clear: both;
		margin-top: 36px;
		color: #666666;
		font-size: 14px;
		font-weight: 400;
	}
}

.footer-top {
	margin: 0 auto;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

	&__inner {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
	}
}

.footer-bottom {
	max-width: 1200px;
	margin: 40px auto 0;
	display: flex;
	align-items: center;
}