@charset "utf-8";

/* MIXIN */

@mixin FlexRow($w: nowrap, $jc: space-between, $a: center) {
  display: flex;
	flex-wrap: $w;
  justify-content: $jc;
  align-items: $a;
}

/** GLOBAL **/

.logo {
	display: inherit;
	cursor: pointer;
	background: {
		repeat: no-repeat;
		position: center center;
		size: cover;
	}

	&__default {
		background-image: url(../../images/w/common/logo-header.png);
	}

	&__filled {
		background-image: url(../../images/w/common/logo-header__filled.png);
	}

	&__footer {
		width: 108px;
		height: 21px;
		background-image: url(../../images/w/common/logo.png);
	}
}

.header {
	z-index: 999;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
	border-bottom: 1px solid transparent;
	color: #ffffff;
	transition: height 0.4s;

	&__inner {
		z-index: 999;
		max-width: 1920px;
		padding: 0 50px;
		margin: 0 auto;
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
	}

	&__title {
		position: relative;
	}

	.logo {
		width: 139px;
		height: 27px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.4s;
	}

	a {
		display: inline-block;
		@include FontInherit;
	}
}

.header--scrolled {
	height: 60px;

	.logo {
		width: 108px;
		height: 21px;
		transition: all 0.2s;
	}
}

.nav {
	height: inherit;
	display: flex;
	font-size: 18px;
	@include FontBD;
	color: #000000;
	text-align: center;

	&__gnb {
		padding-left: 20px;
		margin-left: 30px;
		@include FlexRow;
		
		a[type="button"] {
			width: 24px;
			height: 18px;
			position: relative;
			display: flex;
			align-items: center;
		}

		i {
			width: 24px;
			height: 2px;
			display: inline-block;
			background-color: #000000;

			&::before, &::after {
				width: inherit;
				height: inherit;
				position: absolute;
				left: 0;
				right: 0;
				display: inline-block;
				background-color: inherit;
				content: '';
			}

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}
		}
	}
}

.nav__link {
	height: inherit;
	margin-left: 50px;
	@include FlexRow($jc: center);
}

.nav__link:hover, .nav__link.located {

	a {
		color: #EA2126;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: -1.5px;
		left: 0;
		right: 0;
		width: 100%;
		height: 4px;
		background-color: #EA2126;
	}
}

.navmenu {
	width: 100%;
	height: inherit;
	z-index: 998;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #ffffff;
	border-bottom: 1px solid #DDDDDD;
	transition: top 0.4s;
	overflow: hidden;
}

.navmenu__list {
	height: inherit;
	display: none; // flex;
	align-items: center;
	position: absolute;
	top: 0;
	color: #888888;
	background-color: #ffffff;
	transition: opacity 0.2s;
}

.navmenu__link {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 0;
	margin-right: 30px;
	font-size: 18px;
	color: inherit;
}

.header__transparent {
	background-color: transparent !important;

	.nav .nav__link a[type="button"] {
		color: #ffffff;
	}

	.navmenu {
		background-color: transparent;
		border-bottom: 0;
	}
	
	.nav__gnb i {
		background-color: #ffffff;
	}
}

.header__sticked {
	box-sizing: border-box;
	background-color: #ffffff;
	border-bottom: 1px solid #DDDDDD;

	.nav .nav__link a[type="button"] {
		color: #000000;
	}

	.header__inner {
		background-color: #ffffff;
	}

	.nav__link {
		position: relative;
	}
}

.banner__footer {
	padding-top: 60px;
	padding-bottom: 60px;
	color: #EA2126;
	background-color: #D12327;

	.banner__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.banner__title {
		margin: 0;
		display: inline-block;
		font-size: 26px;
		@include FontBD;
		color: #ffffff;
	}

	.button__wrap {
		display: flex;
		justify-content: space-between;
	}

	.button {
		font-size: 16px;
	}
}

.footer {
	z-index: 1;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	background-color: #000000;
	color: #ffffff;

	a {
		@include FontInherit;
	}

	.logo {
		margin-right: 25px;
	}

	&__nav {
		display: flex;
		align-items: center;

		li {
			padding-right: 15px;
			margin-left: 15px;
			@include FontMD;

			&:not(:last-of-type) {
				position: relative;

				&::after {
					position: absolute;
					content: '';
					top: 10px;
					right: 0;
					height: 10px;
					width: 1px;
					background-color: rgba(255, 255, 255, 0.2);
				}
			}
		}
	}

	&__nav--right {
		margin-left: auto;
	}

	&__util {
		font-size: 14px;
		@include FontRG;

		li {
			margin-bottom: 9px;
		}
	}

	&__util--right {
		margin-left: auto;
	}

	.copyright {
		clear: both;
		margin-top: 36px;
		font-size: 14px;
		color: #666666;
		@include FontRG;		
	}
	
	.sns-link {
		display: inline-block;
		width: 25px;
		height: 25px;
		margin-left: 20px;
		opacity: 0.4;
	}

	.information {

		font-size: 32px;
		@include FontBD;

		&__title {
			display: block;
			font-size: 14px;
			@include FontRG;
		}

		&__desc {
			margin-top: 20px;
			font-size: 14px;
			color: #888888;
			@include FontRG;
			li {
				margin-top: 6px;
			}
		}
	}
}

.footer-top {
	flex-basis: 100%;
	flex-shrink: 0;
	margin: 0 auto;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

	&__inner {
		display: flex;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
}

.footer-bottom {
	display: flex;
	max-width: 1200px;
	margin: 40px auto 0;
	flex-basis: 100%;
	flex-shrink: 0;
	align-items: center;
}

input, textarea {

	&::placeholder {
		@include FontInherit;
		color: #888888;
	}
}

input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

/** LAYOUTS AND COMMON **/

.container {
	width: 100%;
	max-width: 1200px;
	margin: 200px auto 0;
}

.sub-header {
	margin-bottom: 80px;

  &__label {
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    @include FontBasicSans;
    color: #EA2126;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 60px;
    @include FontBD;

		strong {
			display: inline-block;
			@include FontInherit;
			color: #EA2126;
		}
  }

	&__title--big {
		font-size: 46px;
    line-height: 64px;
	}

  &__description {
    font-size: 18px;
    line-height: 30px;
    @include FontMD;
  }
}

.sub-tabs {
	display: block;
	width: 100%;

	p {
    display: inline-block;
  }

	&__item {
    padding: 12px 20px;
		margin: 80px 10px -30px 0;
		display: inline-block;
		font-size: 18px;
		letter-spacing: -.02px;
		@include FontMD;
		color: #666666;
		text-align: center;
		border-radius: 30px;
		background-color: #F7F7F7;
	}

	&__item--active {
		@include FontBD;
		color: #ffffff;
		background-color: #000000;
	}
}

/** COMPONENTS **/

.banner {
	width: 100%;
	text-align: center;
	
	&__content {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	&--belt {
		padding: 0;
	}
	
	&__content--belt {
		max-width: 100%;
	}
}

.box {
  margin: 0 auto;
  padding: 0;
	position: relative;
	display: flex;
  align-items: center;
	justify-content: space-between;
	overflow: hidden;
	
	&__title {
		width: 100%;
	}

	&__content {
		width: 100%;
		height: 100%;
		position: absolute;
	}
  
	&__content--left {
		right: 100%;
	}

	&__content--right {
		left: 100%;
	}

	&__inner {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.box-item {
	display: flex;
	flex: 1.55;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&--left:hover .box__content {
		right: 0;
	}

	&--right:hover .box__content {
		left: 0;
	}
}

.button {
	display: inline-block;
	cursor: pointer;

	&__wrap {
		display: block;
		text-align: center;
	}

	&__radius {
		padding: 13px 50px;
		@include FontBD;
		border-radius: 8px;

		&:not(:first-of-type) {
			margin-left: 22px;
		}
	}

	&__filled-white {
		color: inherit;
		border: 0;
		background-color: #fff;
	}

	&__filled-black {
		color: #ffffff;
		border: 0;
		background-color: #000000;
	}

	&__filled-red {
		color: inherit;
		border: 0;
		background-color: #EA2126;
	}

	&__filled-grey {
		color: inherit;
		border: 0;
		background-color: #DDDDDD;
	}

	&__lined-white {
		color: #ffffff;
		border: 2px solid #ffffff;
		background-color: transparent;
	}

	&__icon-arrow_left {
		background-image: url(../../../assets/images/w/common/icons/i__arrow_left-white.png);
		
		&.button__icon--white {
			background-image: url(../../../assets/images/w/common/icons/i__arrow_left-red.png);
			background-color: #ffffff;
		}
	}

	&__icon-arrow_right {
		background-image: url(../../../assets/images/w/common/icons/i__arrow_right-white.png);

		&.button__icon--white {
			background-color: #ffffff;
		}
	}

	&__icon-arrow_left, &__icon-arrow_right {
		width: 50px;
		height: 50px;
		margin-top: 25px;
		display: inline-block;
		background-color: #000000;
		border-radius: 50%;
		background: {
			size: 22px;
			position: center center;
			repeat: no-repeat;
		}
	}

	&__icon-out {

		i {
			position: relative;
			display: inline-block;
			border-radius: 50%;

			&::after {
				content: '';
				position: absolute;
				left: calc(50% - 6px);
				top: 50%;
				transform: rotateZ(225deg);
				border-radius: 1px;
				border-left-style: solid;
				border-bottom-style: solid;
				border-left-width: 2px;
				border-bottom-width: 2px;
			}
		}
	}

	&__icon-back {

		i {
			position: relative;
			display: inline-block;
			background-color: #fff;
			border-radius: 50%;

			&::after {
				content: '';
				position: absolute;
				left: calc(50% - 3px);
				top: calc(50% - 4px);
				transform: rotateZ(45deg);
				border-radius: 1px;
				border-left-style: solid;
				border-bottom-style: solid;
				border-left-width: 2px;
				border-bottom-width: 2px;
			}
		}
	}

	&__form-submit {
		min-width: 320px;
		padding: 13.5px 50px;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
		@include FontBD;
		border-radius: 5px;
	}

	&__icon-search {
		width: 32px;
		height: 33px;
		background: url('../../images/w/common/icons/icon_search.png') 0 0 no-repeat;
		background-size: contain;
	}

	&__seemore {
		padding: 16px 120px;
		color: #666666;
		font-size: 22px;
		@include FontBD;
		background-color: #fff;
		border: 1px solid #DDDDDD;
		border-radius: 5px;
	}

	&__wrap--seemore {
		margin-bottom: 150px;
	}

	&__icon-download {
		width: 100%;
		height: 100%;
		background: {
			color: rgba(255, 255, 255, .6);
			size: 66.667%;
			position: center center;
			repeat: no-repeat;
		}
		background-image: url(../../../assets/images/w/common/icons/icon_download.png);
		border-radius: 50%;
	}
}

.input {
	&__button {
		width: 100%;
		max-width: 232px;
		letter-spacing: -.02px;
		color: #666666;
		border: 1px solid #DDDDDD;
		background-color: #ffffff;
	}

	&__button--active {
		color: #ffffff;
		font-weight: 500;
		background-color: #EA2126;
		border: 1px solid #EA2126;
	}

  &__checkbox:checked +  &__checkbox-label{
    color: #ffffff;
    background-color: #EA2126;
		border: 1px solid #EA2126;
  }

  &__checkbox-label {
    display: inline-block;
    width: 100%;
		max-width: 232px;
    height: 55px;
    padding: 15px 0;
		box-sizing: border-box;
		font-size: 18px;
		line-height: 25px;
		@include FontDL;
		color: #666666;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
		background-color: #ffffff;
  }

	&__square-button {
		height: 60px;
		font-size: 18px;
		line-height: 60px;
		border-radius: 5px;
	}

	&__round-button {
		height: 50px;
		font-size: 16px;
		line-height: 50px;
		border-radius: 28px;
	}
}

.name-radio {
	position: relative;
	
	&__input {
		position: absolute;
		opacity: 0;
		z-index: 1;
	}

	&__input + &__label {
		padding-left: 26px;
	}

	&__input + &__label span {
		line-height: 25px;
	}

	&__input + &__label span::before {
		display: inline-block;
		position: absolute;
		top: 2px;
		left: 2px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #DDDDDD;
		content: '';
	}

	&__input + &__label span::after {
		display: inline-block;
		position: absolute;
		top: 9px;
		left: 9px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #ffffff;
		content: '';
	}

	&__input:checked + &__label span::before {
		display: inline-block;
		position: absolute;
		top: 2px;
		left: 2px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #000000;
		content: '';
	}

	&__input:checked + &__label span::after {
		display: inline-block;
		position: absolute;
		top: 9px;
		left: 9px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #ffffff;
		content: '';
	}
}

.sub-checkbox {
  &__label {
    display: block;
    position: relative;
  }

  &__input {
		width: 0;
		height: 0;
    position: absolute;
    left: 0;
    opacity: 0;
  }

  &__input + span {
		position: relative;

		i {
			width: 25px;
			height: 25px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-color: #DDDDDD;
			border-radius: 50%;
			content: '';
			
			&::after {
				width: 17px;
				height: 11.5px;
				position: absolute;
				left: 8.5px;
				top: 50%;
				transform: translateY(-50%);
				background: url('../../images/w/common/icons/icon_check.png') 0 0 no-repeat;
				background-size: contain;
				content: '';
			}
		}
	}

  &__input:checked + span > i {
    background-color: #EA2126;
  }
}

.drop-box {
	position: relative;

	&__title {
		height: 60px;
		padding: 17px 30px;
		box-sizing: border-box;
		border: 1px solid #DDDDDD;
		border-radius: 5px;
		font-size: 18px;
		@include FontDL;

		&::before {
			position: absolute;
			top: 22.5px;
			right: 30px;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			border-right: 1.5px solid #000000;
			border-bottom: 1.5px solid #000000;
			content: '';
		}
	}

	&__text {
		color: #666666;
	}

	&__wrap {
    z-index: 999;
		overflow: hidden;
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
		height: 0;
		color: #000000;
		font-size: 16px;
    background: #ffffff;
	}
	
	&__wrap p {
		padding: 7px 0;
	}

	&__wrap a {
		display: block;
	}

	&--active &__title::before {
		top: 26.5px;
		transform: rotate(225deg);
	}

	&--active &__wrap {
		height: auto;
		padding: 15px;
		box-shadow: 3px 3px 3px 3px #DDDDDD;
	}
}

.form-info {
	display: block;
	margin-top: 30px;

	&__label {
		display: block;
		padding-bottom: 5px;
		font-size: 16px;
		letter-spacing: -.02px;
	}

	&__input {
    width: 100%;
		padding-bottom: 10px;
		font-size: 18px;
		@include FontDL;
		letter-spacing: -.02px;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: #DDDDDD;
	}

	&__must-label::after {
		display: inline-block;
		color: #FF0000;
		font-size: 16px;
		content: '*';
	}
}

.accordian {

	&__title {
		position: relative;
		font-size: 26px;
		letter-spacing: -.02px;

		a {
			display: block;
			padding-bottom: 30px;
		}

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			border-right: 1.5px solid #000000;
			border-bottom: 1.5px solid #000000;
			content: '';
		}
	}

	&__item {
		margin-top: 30px;

    &:not(:last-of-type) { 
      margin-bottom: 50px;
    }
	}

	&__item--active {

		.accordian__content {
			height: 100%;
			border-color: transparent;
		}

		.accordian__title a {
			font-weight: 600;
		}

		.accordian__title::before {
			transform: rotate(225deg);
		}
	}

	&__content--row {
		@include FlexRow;
	}

	&__content {
		border-top: 1px solid #DDDDDD;
		overflow: hidden;
		height: 0;
    font-size: 16px;
    line-height: 24px;
    @include FontDL;
		letter-spacing: -0.02em;

    p {
      @include FontInherit;
    }
	}

	&__item--row {
		width: 100%;
		max-width: calc(50% - 20px);
	}
}

.layer {

	&__body {
		position: fixed;
		min-height: 100vh;
		overflow-x: hidden;
		z-index: 9999;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, .5);
	}
	
	&__wrap {
		position: absolute;
		z-index: 9999;
		top:50%;
		left:50%;
		max-width: 400px;
		width: 100%;
		background-color: #ffffff;
		border-radius: 10px;
		opacity: 0;
		@include transform(translate(-50%, -50%));
		transition: visibility 0.2s 0.1s, opacity 0.2;

		&--wide {
			max-width: 520px;
		}
	}
	
	&__close {
		z-index: 10000;
		position: absolute;
		width: 30px;
		height: 30px;
		padding: 0;
		top: 15px;
		right: 15px;

		.close {
			text-indent:-9999px;
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
			width: 30px;
			height: 30px;
			opacity: .6;

			&:hover {
				opacity: 1;
			}

			&::before, &::after {
				height: 24px;
				width: 2px;
				position: absolute;
				top: 3px;
				left: 14px;
				background-color: #666666;
				content: '';
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}
	}
	
	&__inner {
		max-width: 100%;
		height: 100%;
		padding: 40px 8px 40px 40px;
	}
	
	&__content {
		max-height: 84vh;
		padding-right: 32px;
		overflow-x: hidden;
		overflow-y: auto;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	&__button {
		width: 100%;
		display: block;
		padding-top: 16px;
		padding-bottom: 16px;
		font-size: 18px;
		letter-spacing: -0.03em;
		@include FontBD;
		color: #ffffff;
		border-radius: 5px;
		background-color: #EA2126;
	}
}

.layer__body.is-visible {
	visibility: visible;

	.layer__wrap {
		opacity: 1;
	}

	&[role="dialog"]{
		display: block;
	}
}

.sub-list-category {
	margin-bottom: 35px;

  p {
    float: left;
  }

	&__box::after {
		display: block;
		clear: both;
		content: '';
	}

  &__item {
		position: relative;
    display: inline-block;
    font-size: 16px;
		@include FontDL;
		color: #888888;
    margin-right: 21px;
  }

  &__item::after {
		width: 1px;
    height: 14px;
    margin-top: 8.5px;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    background-color: #DDDDDD;
    content: '';
  }

	p:last-of-type .sub-list-category__item::after {
		content: none;
	}

  &__item--active {
    color: #000000;
    @include FontBD;

		&::before {
			width: 100%;
			height: 3px;
			margin: 0;
			padding: 0;
			position: absolute;
			bottom: -5px;
			left: 0;
			right: 0;
			background-color: #000000;
			content: '';
		}
  }
}

.icon {

	&__check {
		position: relative;
		
    i {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: #EA2126;
      border-radius: 50%;
      content: "";

      &::after {
        width: 75%;
        height: 100%;
        position: absolute;
        right: -2px;
				top: 8px;
        background: url(../../images/w/common/icons/icon_check.png) 0 0 no-repeat;
        background-size: contain;
        content: "";
      }
    }
	}
}
