@charset "utf-8";

/** LAYOUTS **/

/** GLOBAL **/

.logo {
	display: inherit;
	cursor: pointer;
	background: {
		repeat: no-repeat;
		position: center center;
		size: cover;
	}

	&__default {
		width: 139px;
		height: 27px;
		background-image: url(../../images/common/logo-header.png);
	}

	&__footer {
		width: 108px;
		height: 21px;
		background-image: url(../../images/common/logo.png);
	}
}

.header {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  padding: 0 50px;
	transition: height 0.4s;

	.logo {
		transition: all 0.4s;
	}

	a {
		@include FontInherit;
	}

	&.scrolled {
		height: 60px;

		.logo {
			width: 108px;
			height: 21px;
		}
	}

	&__inner {
		margin: 0 auto;
		max-width: 1920px;
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
	}
}

.gnb {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 18px;
	color: #ffffff;
	@include FontBD;

	&__link {
		margin-left: 50px;
	}
}

.footer {
	z-index: 1;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	background-color: #000000;
	color: #ffffff;

	a {
		@include FontInherit;
	}

	.logo {
		margin-right: 25px;
	}

	&__nav {
		display: flex;
		align-items: center;
		@include FontMD;

		li {
			padding-right: 15px;
			margin-left: 15px;

			&:not(:last-of-type) {
				position: relative;

				&::after {
					position: absolute;
					content: '';
					top: 4px;
					right: 0;
					height: 10px;
					width: 1px;
					background-color: rgba(255, 255, 255, 0.2);
				}
			}
		}
	}

	&__nav--right {
		margin-left: auto;
	}

	&__util {
		font-size: 14px;
		@include FontRG;

		li {
			margin-bottom: 9px;
		}
	}

	&__util--right {
		margin-left: auto;
	}

	.copyright {
		clear: both;
		margin-top: 36px;
		font-size: 14px;
		color: #666666;
		@include FontRG;		
	}
	
	.sns-link {
		display: inline-block;
		width: 25px;
		height: 25px;
		margin-left: 20px;
		opacity: 0.4;
	}

	.information {

		font-size: 32px;
		@include FontBD;

		&__title {
			display: block;
			font-size: 14px;
			@include FontRG;
		}

		&__desc {
			margin-top: 20px;
			font-size: 14px;
			color: #888888;
			@include FontRG;
			li {
				margin-top: 6px;
			}
		}
	}
}

.footer-top {
	flex-basis: 100%;
	flex-shrink: 0;
	margin: 0 auto;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

	&__inner {
		display: flex;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
}

.footer-bottom {
	display: flex;
	max-width: 1200px;
	margin: 40px auto 0;
	flex-basis: 100%;
	flex-shrink: 0;
	align-items: center;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.section {
	width: 100%;
	max-width: 1200px;
	margin: 150px auto;
	padding: 0;

	&--wide {
		max-width: 1920px;
	}
	&--full {
		max-width: none;
	}
}

.section__inner {
	margin: 0 auto;
	display: flex;
	flex-direction: column; 

	&--wide {
		max-width: 1200px;
	}
	&--full {
		max-width: 1200px;
	}
	&--row {
		justify-content: space-between;
		flex-direction: row;
	}
}

/** COMPONENTS **/

.section {

	&__title {
		margin-top: 30px;
		font-size: 40px;
		line-height: 60px;
		letter-spacing: -0.03em;
		font-weight: bold;
		color: #161616;
	}	

	&__label {
		display: block;
		font-size: 20px;
		line-height: 30px;
		font-weight: bold;
		color: #EA2126;
	}

	&__desc {
		margin-top: 15px;
	}
}

.banner {
	width: 100%;
	padding-top: 125px;
	padding-bottom: 90px;
	text-align: center;

	&--belt {
		padding: 0;
	}

	&__title {
		font-size: 40px;
		line-height: 50px;
		letter-spacing: -0.04em;
		color: #ffffff;
		@include FontBD;
	}
	
	&__content {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
	
	&__content--belt {
		max-width: 100%;
	}
}

.box {
  margin: 0 auto;
  padding: 0;
	position: relative;
	display: flex;
  align-items: center;
	justify-content: space-between;
	overflow: hidden;
	
	&__content {
		position: absolute;
		height: 100%;
		width: 100%;
	}
  
	&__content--left {
		left: -100%;
	}

	&__content--right {
		left: 100%;
	}

	&__title {
		font-size: 60px;
		line-height: 90px;
		letter-spacing: 0;
		font-weight: semibold;
		color: #ffffff;
		text-align: center;
	}
		
	&__title--center {
		color: #000000;
	}

	&__desc {
		display: block;
		font-size: 28px;
	}

	&__slogan {
		font-size: 50px;
		letter-spacing: -0.02em;
		font-weight: bold;
		color: #ffffff;
	}

	&__slogan--small {
		font-size: 32px;
	}
}

.box-item {
	height: 100%;
	flex: 1.55;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&--left {
		background-color: #6DCA7B;
	}

	&--center {
		flex: 1.7;
		background-color: #ffffff;
	}

	&--right {
		background-color: #F8AD07;
	}

	&:hover {
		> .box__content {
			left: 0;
			right: 0;
		}
	}
}

.button {
	display: inline-block;

	&__wrap {
		display: block;
	}

	&__radius {
		padding: 20px 70px;
		font-size: 22px;
		letter-spacing: -0.03em;
		color: #ffffff;
		@include FontBD;
		border: 2px solid #ffffff;
		border-radius: 36px;
	}

	&__colored-red {

	}

	&__lined-white {

	}

	&__icon {

	}
}

.input {

	&__button {
		width: 232px;
		letter-spacing: -.02px;
		color: #666666;
		border: 1px solid #DDDDDD;
		background-color: #ffffff;
	}

	&__button--active {
		color: #ffffff;
		font-weight: 500;
		background-color: #EA2126;
		border: 1px solid #EA2126;
	}

	&__square-button {
		height: 60px;
		font-size: 18px;
		line-height: 60px;
		border-radius: 5px;
	}

	&__round-button {
		height: 50px;
		font-size: 16px;
		line-height: 50px;
		border-radius: 28px;
	}
}

.name-radio {
	position: relative;
	
	&__input {
		position: absolute;
		opacity: 0;
		z-index: 9;
	}

	&__input + &__label {
		padding-left: 26px;
	}

	&__input + &__label span {
		line-height: 25px;
	}

	&__input + &__label span::before {
		display: inline-block;
		position: absolute;
		top: 2px;
		left: 2px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #DDDDDD;
		content: '';
	}

	&__input + &__label span::after {
		display: inline-block;
		position: absolute;
		top: 9px;
		left: 9px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #ffffff;
		content: '';
	}

	&__input:checked + &__label span::before {
		display: inline-block;
		position: absolute;
		top: 2px;
		left: 2px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #000000;
		content: '';
	}

	&__input:checked + &__label span::after {
		display: inline-block;
		position: absolute;
		top: 9px;
		left: 9px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #ffffff;
		content: '';
	}
}

.drop-box {
	position: relative;

	&__title {
		height: 60px;
		color: #000000;
		font-size: 16px;
		line-height: 60px;
		letter-spacing: -.03px;
		border: 1px solid #DDDDDD;
		border-radius: 5px;

		&::before {
			position: absolute;
			top: 20px;
			right: 31px;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			border-right: 1.5px solid #000000;
			border-bottom: 1.5px solid #000000;
			content: '';
		}
	}

	&__wrap {
		overflow: hidden;
		height: 0;
	}
	
	&__wrap p {
		padding: 7px 0;
	}

	&__wrap a {
		display: block;
	}

	&--active &__wrap {
		height: auto;
		padding: 15px;
		box-shadow: 3px 3px 3px 3px #DDDDDD;
	}

	p {
		color: #000000;
		font-size: 16px;
		letter-spacing: -.03px;
	}
}

.sub-tabs {
	display:block;

	&__item {
		display: inline-block;
		text-align: center;
		width: 250px;
		height: 50px;
		color: #666666;
		line-height: 50px;
		font-size: 18px;
		letter-spacing: -.02px;
		background-color: #F7F7F7;
		border-radius: 30px;
	}

	&__item--active {
		background-color: #000000;
		color: #ffffff;
	}
}

.form-info {
	display: block;
	margin-top: 30px;

	&__label {
		display: block;
		padding-bottom: 5px;
		font-size: 16;
		letter-spacing: -.02px;
	}

	&__input {
		padding-bottom: 15px;
		font-size: 20px;
		letter-spacing: -.02px;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: #DDDDDD;
	}

	&__must-label::after {
		display: inline-block;
		color: #FF0000;
		font-size: 16px;
		content: '*';
	}
}

.form-info--version2 {
	margin-top: 30px;
	
	.form-info__input  {
		padding: 16px 25px;
		font-size: 16px;
		border: 1px solid #EEEEEE;
		border-radius: 12px;
	}
	.form-info__input::placeholder {
		color: #999999;
	}
}

.accordian {
	width: 240px;

	&__title {
		position: relative;
		font-size: 20px;
		letter-spacing: -.02px;
		border-bottom: 1px solid #DDDDDD;

		a {
			display: block;
			padding-bottom: 30px;
		}

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			border-right: 1.5px solid #000000;
			border-bottom: 1.5px solid #000000;
			content: '';
		}
	}

	&__item {
		margin-top: 30px;
	}

	&__item--active {
		.accordian__content {
			height: 100%;
		}
		.accordian__title::before {
			transform: rotate(225deg);
		}
	}

	&__content {
		overflow: hidden;
		height: 0;
		font-size: 20px;
		letter-spacing: -.02px;
	}
}

.layer {

	&__body {
		position: fixed;
		min-height: 100vh;
		z-index: 30001;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, .9);
	}
	
	&__wrap {
		position: absolute;
		z-index: 999;
		top:50%;
		left:50%;
		max-width: 950px;
		width: 100%;
		background-color: #fff;
		opacity: 0;
		@include transform(translate(-50%, -50%));
		-webkit-transition: visibility 0.2s 0.1s, opacity 0.2;
		-moz-transition: visibility 0.2s 0.1s, opacity 0.2;
		-ms-transition: visibility 0.2s 0.1s, opacity 0.2;
		-o-transition: visibility 0.2s 0.1s, opacity 0.2;
		transition: visibility 0.2s 0.1s, opacity 0.2;
	}
	
	&__close {
		position: absolute;
		z-index: 1000;
		max-width: 950px;
		width: 100%;
		top: 20px;
		right: 0;
	
		.close_btn {
			position: absolute;
			top: -45px;
			right: -20px;
			width: 40px;
			height: 40px;
			background: {
				image: url();
				size: 40px;
				repeat: no-repeat;
				position: center center;
				color: transparent;
			}
			border: 0;
			border-radius: 50%;
			text-indent:-9999px;
			cursor: pointer;
		}
	}
	
	&__inner {
		max-height: 85vh;
		overflow-x: hidden;
	}
	
	&__content {
		max-width: 100%;
		height: 100%;
		padding: 50px;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}
	
.layer__body.is-visible {
	visibility: visible;

	.layer__wrap {
		opacity: 1;
	}

	&[role="dialog"]{
		display: block;
	}
}