@charset "utf-8";

/* start 임시 스타일링 (border width 때문에 가로 스크롤 생김) ------------------ */
.layout {
  .section {
    border: 3px solid blue;
    &__inner {
      border: 1px dotted blue;
    }
    &__content {
      border: 1px dotted blue;
    }
  }
  .visual {
    border: 3px solid violet;
    &__image {
      border: 3px solid violet;
    }
  }
  .box {
    border: 3px solid blue;
    &-item {
      min-height: 1080px;
    }
    &__content {
      text-align: center;
      padding-top: 500px;
      border: 3px solid red;
      background-color: rgba(90, 90, 90, 0.4);
      transition: all 0.8s;
    }
  }
  .banner {
    border: 3px solid #6DCA7B;
    &-- {
      &belt {
        padding: 25px 0;
        background-color: grey !important;
      }
    }
    &__content {
      border: 1px dotted #6DCA7B;
    }
  }
  .image-block {
    border: 1px dotted violet;
  }
  .header {
    border: 3px solid red;
    &__inner {
      border: 3px solid red;
    }
  }
  .footer {
    border: 3px solid green;
    &__inner {
      border: 3px solid green;
    }
  }
}
/* --------------------------------------------------------end 임시 스타일링 */

$duration1: 2s;
$duration2: 1.25s;

/**** MAIN ****/

.main {

  /* KEYVISUAL */
  
  .visual {
    z-index: 1;
    width: 100%;
    position: relative;
  
    &__inner {
      width: 100%;
      max-width: 1200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    &__title {
      font-size: 300px;
    }
  
    &__slogan {
      font-size: 26px;
    }
  
    &__image {
      width: 100%;
      position: static;
      margin: 0 auto;
      text-align: center;
    }
  }

  /* COMMON */

  .section {
		overflow: hidden;

    &__label {
      margin-bottom: 30px;
    }

    &__desc {
      margin-top: 15px;
    }
  }

	.banner {
		overflow: hidden;
	}

  .image-block {
    width: 100%;
    background: {
      size: cover;
      position: center 0;
      repeat: no-repeat;
    }
    border-radius: 24px;
    overflow: hidden;
  }

  .graph {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-basis: 100%;
    flex-shrink: 0;

    &__title {
			opacity: 0;

      flex-basis: 100%;
      flex-shrink: 0;
      margin-bottom: 15px;
      font-size: 18px;
      @include FontMD;
      text-align: end;
    }

    &__info {
			opacity: 0;

      position: absolute;
      right: calc(100% + 45px);
      bottom: 8px;
      transform: translateY(-50%);
      font-size: 26px;
      letter-spacing: -0.02em;
      @include FontBD;
    }

    &__info--unit {
      position: absolute;
      right: -20px;
      bottom: 2px;
      font-size: 20px;
      @include FontDL;
    }

    &__bar {
			opacity: 0;
			width: 0;

      position: relative;
      max-width: 100%;
      height: 40px;
      flex-shrink: 0;
      margin-bottom: 50px;
      margin-left: auto;
      border-radius: 20px;
    }

    &__bar--black {
      background-color: #000000;
      color: #000000;
    }

    &__bar--red {
      background-color: #D12327;
      color: #D12327;
    }

    &__bar--grey {
      background-color: #666666;
      color: #666666;
    }
  }

  .box {

    &__title {
      font-size: 60px;
      line-height: 90px;
      color: #ffffff;
      @include FontBD;
      text-align: center;
    }
      
    &__title--center {
      color: #000000;
    }
  
    &__desc {
      display: block;
      font-size: 28px;
      line-height: 30px;
      @include FontDL;
      margin-top: 30px;
    }

    &__inner {
      padding-top: 230px;
      padding-bottom: 230px;
    }

    &__content--row {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    &__slogan {
      font-size: 50px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      @include FontBD;
      margin-bottom: 30px;
    }
  
    &__slogan--small {
      font-size: 32px;
      letter-spacing: -0.03em;
      @include FontBD;
      margin-bottom: 10px;
    }

    &__text {
      display: block;
      max-width: 470px;
      @include FontRG;
      
      &--1 {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.03em;
        opacity: 0.8;
      }

      &--2 {
        font-size: 14px;
        margin-top: 40px;
      }
    }

		*:not(.box__content) {
			transition: all $duration2 ease;
		}
  }

	.box__content {
    z-index: 1;
		color: #ffffff;
		transition: all $duration2*0.5 ease;
	}
  
  .box-item {
    flex: 1.55;
    min-height: 1080px;
		background: {
      size: cover;
      position: center 0;
      repeat: no-repeat;
		}
  
    &--center {
      flex: 1.7;
      background-color: #ffffff;
    }
  }

  .box-item--left {
    background: {
      image: url(../../images/dummy/@bg_box-1.jpg);
    }

    .button__icon-arrow {
      margin-left: 15px;
    }

    .box__content {
      background-color: #F7F7F7;
    }

    &:hover .box__content {
      right: 0;
    }
  }

  .box-item--right {
    background: {
      image: url(../../images/dummy/@bg_box-2.jpg);
    }

    .box__content {
      background-color: #D12327;
    }

    .button {
      
      &__wrap {
        margin-top: 80px;
        font-size: 18px;
        line-height: 25px;
        @include FontMD;
      }

      &__icon-arrow {
        margin-right: 15px;
      }

      &__icon-back {

        i {
          width: 25px;
          height: 25px;
          margin-right: 6px;
  
          &:after {
            width: 6px;
            height: 6px;
            border-color: #D12327;
          }
        }
      }
    }

    &:hover .box__content {
      left: 0;
    }
  }
}

/**** SECTIONS IN MAIN ****/

$elemT: 150px;

@mixin imgContentIn($distance) {
	opacity: 0;
	margin-top: ($distance*500 + px);
}

[data-section="service"] {
	position: relative;
  margin: $elemT 0 $elemT 0;

	.section {

		&__inner {
      margin: 0;
			position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border: 2px solid blue;
      overflow: hidden;
		}

		&__head {
      position: absolute;
      top: 0;  //load default
      left: 0; //load default
      // transition: all $duration2 ease;
		}
	
		&__content {
			position: absolute;
      top: $elemT;
      right: 0;
			width: 66.7%;
		}
	
		&__content--row {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
		}
	}

	.button {

		&__wrap {
			color: #ffffff;
			margin-top: 50px;
		}

		&__icon-out {
			font-size: 14px;
			@include FontMD;
			margin-top: 100%;
	
			i {
				width: 8px;
				height: 8px;
				margin-left: 6px;
	
				&:after {
					width: 6px;
					height: 6px;
					border-color: #ffffff;
				}
			}
		}
	}

	.image-block {
		max-width: 350px;
		height: 450px;
		padding: 48px;
    margin-left: 40px; 
    margin-bottom: 40px;
    @include imgContentIn(1);
		box-sizing: border-box;
		color: #ffffff;
		background: linear-gradient(to bottom, rgba(0, 0, 0, .32), 25%,rgba(0, 0, 0, 0));
    transition: margin $duration2 ease;
		
		&:nth-of-type(2n) {
			transform: translateY(40px);
		}

		&__title {
			font-size: 22px;
			@include FontBD;
		}

		&__slogan {
			font-size: 16px;
			line-height: 26px;
			letter-spacing: -0.03em;
			@include FontRG;
			margin-top: 12px;
		}
	}

  .image-block.slidein {
    opacity: 1;
    margin-top: 0;
  }
}

[data-section="service"].approached {

	.section {

		&__head {
			position: fixed;
      top: 150px;
		}
	}
}

@mixin boxContentIn($distance) {
	opacity: 0;
	transform: translateX($distance*500 + px);
}

[data-section="performance"] {

	.box__title--center {	

		i {
			display: block;
			margin: 0 auto 10px;
			width: 136px;
			height: 60px;
			background: {
				image: url(../../images/dummy/@title__performance.png);
				size: 100%;
				position: center center;
				repeat: no-repeat;
			}
		}
	}

  .box-item:hover * {
    opacity: 1!important;
    transform: translateX(0)!important;
  }

  .box-item--right {
  
    .box__inner {
      @include boxContentIn(1);
      height: 630px;
    }
  
    .image-block {
      @include boxContentIn(2);
      max-width: 460px;
      height: 100%;
      margin-left: auto;
    }
  }

  .box-item--left {
    
    .box__content--left {
      right: 0!important;
      max-width: 67.708%;

      .accordian {
        max-width: 840px;
        width: 100%;
    
        * {
          transition: none;
        }
      }
    }
  
    // .box__inner {
    //   @include boxContentIn(-1);
    // }
  }

  .accordian__title {

    &::before {
      top: 15px;
    }
    
    a {
      font-size: 28px;
      line-height: 40px;
      font-weight: 300;
      @include FontBasicSans;
      color: #666666;
    }

    span {
      font-size: 40px;
      line-height: inherit;
      font-weight: 500;
      letter-spacing: -0.02em;
      @include FontBasicSans;
      color: #000000;
      margin-right: 48px;
    }
  }

  .accordian__item {
    &:not(:last-of-type) { 
      margin-bottom: 50px;
    }

    &--active {

      .accordian__title {
        
        a {
          font-weight: 500;
          color: #000000;
        }
      }
    }
  }

  .accordian__content {
    font-size: 16px;
    line-height: 24px;
    @include FontDL;

    p {
      @include FontInherit;
      color: #666666;
    }
  }
}

@keyframes graphBarIn {
  0% {
    transform: translateX(-100px);
  }
  100% {
		width: 100%;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes graphTextIn {
	0% {
    transform: translateX(-150px);
	}
	100% {
		opacity: 1;
    transform: translateX(0);
	}
}

[data-section="partners"] {
	margin-bottom: 0;
	background: {
		image: url(../../images/dummy/@bg_partners.jpg);
		size: cover;
		position: 0 0;
		repeat: no-repeat;
	}

	.section__content {
		margin-top: 70px;
		display: flex;
		flex-wrap: wrap;
	}
}

[data-section="partners"].approached {

	.graph__bar {
		animation: $duration1 graphBarIn ease forwards;
	}

	.graph__title, .graph__info { 
		animation: $duration2 graphTextIn ease forwards;
	}

	.graph {

		&--2 {
			.graph__bar, .graph__title, .graph__info {
				animation-delay: $duration2*0.25;
			}
		}
	
		&--3 {
			.graph__bar, .graph__title, .graph__info {
				animation-delay: $duration2*0.5;
			}
		}
	}
}

[data-section="contractors"] {

	.swiper-container {
		height: auto;
	}

	.swiper-wrapper {
		padding: 25px 0;
		transition-timing-function : linear;
	}
	
	.swiper-slide {
		width: 211px;
		height: 62px;
		align-self: center;
		overflow: hidden;
		background-position: center center;
		background-size: cover;
	}
}