/** SUB COMMON **/

.sub-container {
  margin-bottom: 150px;

  form {
    width: 100%;
  }

  ul li {
    padding-left: 15px;
    font-size: 16px;
    line-height: 26px;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
    }

    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
  }

  dl {
    font-size: 16px;
    line-height: 26px;

    dt {
      @include FontRG;
      margin-bottom: 4px;

      &:not(:first-of-type) {
        margin-top: 15px;
      }
    }

    dd {
      padding-left: 10px;
      @include FontDL;
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        content: '·';
      }
    }
  }

  .accordian {
    width: 100%;

    &__description {
      padding-right: 80px;
      padding-bottom: 20px;
      margin-bottom: 30px;
      font-size: 20px;
      @include FontRG;
      border-bottom: 1px solid #DDDDDD;
    }

    dt {
      @include FontBD;
    }

    dd {
      margin-top: 6px;
    }
  }

  .image-block {
    border-radius: 10px;
    overflow: hidden;
  }
}

.sub-container--row {
  @include FlexRow;

  .sub-content {
    width: 100%;
    max-width: calc(50% - 10px);
  }
}

@mixin subTabLocation {
  .sub-container {
    display: none;
  }
  .sub-container--located {
    display: block;
    transition: none;
  }
}

@mixin subTabCateLocation {
  .sub-list-category-container {
    display: none;
  }
  .sub-list-category-container--located {
    display: block;
    transition: none;
  }
}

.sub-header {
  .visual {
    margin-top: 40px;
    border-radius: 12px;
    overflow: hidden;
  }
}

.sub-content {
  margin-bottom: 50px;

  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
    @include FontBD;
  }

  &__title--link {
    margin-left: 10px;
    font-size: 16px;
    line-height: inherit;
    @include FontRG;
    text-decoration: underline;
  }

  &__description {
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 18px;
    @include FontDL;
    color: #888888;
  }

  .description {
    margin-left: 4px;
    font-size: 16px;
    @include FontDL;
    color: #888888;
    line-height: inherit;
    letter-spacing: inherit;
  }
}

.content__inner {
  width: 100%;
  @include FlexRow;
}

.sub-checkbox {
  width: 100%;
  margin-bottom: -10px;
  @include FlexRow($w: wrap);

  &__item {
    min-width: 232px;
    margin-bottom: 10px;
    flex-shrink: 0;
  } 
}
  
.sub-checkboxs {
  .sub-checkbox__input + span {
    font-size: 18px;
    padding-left: 40px;
    padding-bottom: 4px;
  }
}

.input-box {
  width: 100%;
  padding: 60px 80px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.input-box--file {

  textarea {
    max-width: 100%;
    height: 180px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 18px;
    @include FontDL;
    border: none;
    background: transparent;
  }

  .input-file {
    @include FlexRow;
  }

  #form-file-button + label {
    min-width: 180px;
    height: 55px;
    margin-left: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 18px;
    line-height: 55px;
    color: #666666;
    text-align: center;
    border-radius: 5px;
    background-color: #EEEEEE;
  }

  #form-file-text {
    width: 100%;
    height: 55px;
    padding: 0 30px;
    font-size: 15px;
    line-height: 55px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
  }

  #form-file-text::placeholder {
    @include FontInherit;
    color: #888888;
  }
} 

.input-box--info {
  @include FlexRow($w: wrap);

  .form-field {
    width: 100%;
    max-width: calc(50% - 20px);
  }

  .form-field--wide {
    max-width: 100%;
  }

  .form-field__inner {
    @include FlexRow;
  }

  &__label {
    padding-left: 2px;
    padding-bottom: 15px;
    display: block;
    font-size: 16px;
    @include FontRG;
  }

  &__label--necessary::after{
    display: inline-block;
    width: 5px;
    height: 5px;
    padding-left: 4px;
    color: #EA2126;
    content: '*';
  }

  &__input {
    width: 100%;
    margin-bottom: 40px;
    line-height: 1;
    font-size: 18px;
    @include FontDL;
    padding-bottom: 10px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #DDDDDD;
    background-color: transparent;
  }

  &__input::placeholder {
    @include FontInherit;
    color: #888888;
  }
}

.word-box {
  width: 100%;
  padding: 40px 80px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FAFAFA; 
}

.search-form {
  width: 100%;
  padding: 50px 80px;
  box-sizing: border-box;
  @include FlexRow;
  border-radius: 5px;
  background-color: #FAFAFA;

  &__wrap {
    width: 100%;
    @include FlexRow;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
  }

  input {
    width: 100%;
    position: relative;
    background-color: #fff;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 32px;
    height: 33px;
    background: url('../../images/w/common/icons/icon_search.png') 0 0 no-repeat;
    background-size: contain;
  }
}

.search-list {
  width: 100%;
  @include FlexRow($jc: flex-start);
  border-radius: 5px;
}

.search-item {
  width: 100%;

  & + .search-item {
    margin-left: 10px;
  }
}

/* CONTACT */

.contact {

  .sub-content {
    margin-bottom: 80px;
  }

  .sub-checkboxs {
    border-top: 1px solid #000000;
    padding-top: 30px;
  }

  .button__sub-checkbox {
    margin-left: 8px;
    font-size: 18px;
    line-height: inherit;
    @include FontRG;
    color: #055BFF;
    text-decoration: underline;
    cursor: pointer;
  }

  .sub-checkbox__list {
    @include FlexRow($jc: flex-start);

    &:not(:last-of-type) {
      margin-bottom: 25px;
    }
  }

  .button__form-submit {
		height: 70px;
		font-size: 22px;
  }

  .button__wrap {
    margin-top: 80px;
  }

  .sub-info {
    margin-top: 150px;
    padding-top: 130px;
    position: relative;

    &::before {
      z-index: -1;
      position: absolute;
      left: -9999px;
      right: -9999px;
      top: 0;
      height: 570px;
      background-color: #F5F5F5;
      content: '';
    }
    text-align: center;

    &__title {
      font-size: 16px;
      @include FontBD;
    }

    &__note {
      margin-top: 18px;
      font-size: 20px;
      @include FontDL;
    }

    .image {
      margin-top: 35px;
      margin-bottom: 60px;
      border-radius: 24px;
      overflow: hidden;
    }

    &__contact {
      display: inline-block;
      margin: 0 auto;
      position: relative;
      font-size: 80px;
      font-weight: 300;
      line-height: 1;
      @include FontBasicSans;

      &::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
        display: inline-block;
        height: 4px;
        background-color: #000000;
        content: '';
      }

      &::before {
        position: absolute;
        right: 85px;
        top: -35px;
        background-image: url(../../images/w/dummy/@icon-airplane.png);
        background: {
          size: 100%;
          repeat: no-repeat;
          position: center center;
        }
        width: 87px;
        height: 69px;
        content: '';
      }
    }

    &__description {
      margin-top: 40px;
      font-size: 16px;
      @include FontDL;
      color: #666666;
    }
  }

  .banner {
    z-index: 1;
    position: relative;
    padding: 72px 0;
    margin-top: 150px;
    overflow: hidden;
    border-radius: 24px;
    background-image: url(../../images/w/dummy/banner__contact.jpg);
    background: {
      size: cover;
      repeat: no-repeat;
      position: center center;
    }

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: inherit;
      max-width: inherit;
      height: inherit;
      background: rgba(0, 0, 0, .5);
    }

    &__title {
      font-size: 26px;
      @include FontBD;
      color: #ffffff;
      margin-bottom: 10px;
    }

    &__title--small {
      font-size: 16px;
      @include FontRG;
      color: #ffffff;   
    }

    .button__wrap {
      margin-top: 30px;
    }
  }

  .marker {
    width: 105px;
    height: 30px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #ffffff;
  }

  .marker span {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 7.5px 15px 7.5px 10px;
    font-size: 15px;
    line-height: 1;
    @include FontMD;
    border-radius: 0 15px 15px 0;
    background-color: #4478FA;

    &::before {
      content: "";
      position: absolute;
      width: 27.5px;
      top: -1.5px;
      bottom: -1.5px;
      left: -27.5px;
      border-radius: 0 15px 15px 0;
      box-shadow: 10px 0 0 0 #4478FA;
    }
  }
}

.popup.termAgreePrivacy {

  .content__title {
    font-size: 20px;
    @include FontBD;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
  }

  .content__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -.02em;
    @include FontDL;
  }

  li::before {
    content: '·';
  }

  dl {
    margin: 25px 30px 0;

    dd {
      color: #666666;
    }

    dd::before {
      content: '-';
    }
  }

  .layer__button {
		margin-top: 40px;
  }
}

.popup.formSubmitted {

  .layer__content {
    text-align: center;
  }

  .layer__button {
		margin-top: 20px;
  }

  .message__title {
    font-size: 20px;
    @include FontBD;

    .icon {
      width: 40px;
      height: 40px;
      margin: 0 auto 15px;
      display: block;
    }
  }

  .message__text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    @include FontDL;
    color: #666666;
    margin-top: 8px;
    @include FontDL;
  }
}

/* RECRUIT */

.recruit {
  @include subTabLocation;

  .accordian__item--active .accordian__title {
    @include FontBD;
  }

  .content__inner {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .banner {
    padding: 80px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background: {
      position: 0 50%;
      size: 50%;
      repeat: no-repeat;
    }
  }

  .banner__content {
    height: 60px;
    position: relative;
  }

  .banner__title {
    position: absolute;
    right: 0;
    font-size: 20px;
    @include FontRG;
    text-align: left;
  }

  dl {
    flex-basis: content;
    flex-shrink: 0;
    min-width: 50%;
    margin-bottom: 30px;
  }

  dd a {
    color: #055BFF;
  }

  .button__form-submit {
    margin-top: 40px;
  }

  .search-form {
    margin-bottom: 10px;
  }

  .search-form__wrap {
    height: 60px;
    padding: 15px 25px;
  }

  #recruit-search {
    max-width: 600px;
    font-size: 18px;
    @include FontDL;
    color: #000000;
  }

  #recruit-search::placeholder {
    font-size: 18px;
    @include FontDL;
    color: #999999;
  }

  .drop-box {
    border-radius: 5px;
    background-color: #fff;
  }

  .drop-box__title {
    border: 0;
  }

  .search-list {
    height: 60px;
    margin-left: 10px;
  }
}

.relate-content {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid #DDDDDD;
  border-radius: 5px;
  background-color: #FFFFFF;

  > a {
    display: block;
  }

  &__title {
    padding: 30px 0;
    @include FlexRow;
  }

  &__wrap {
    font-size: 26px;
    @include FontMD;
    @include FlexRow;
  }

  &__type {
    @include FlexRow;
  }

  &__type span {
    padding: 0 25px;
    color: #888888;
    font-size: 18px;
    @include FontDL;

    &:last-of-type {
      padding-right: 0;
    }
  }

  &__date { 
    display: inline-block;
    height: 22px;
    margin-top: 3px;
    margin-left: 10px;
    padding: 2px 12px;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    @include FontMD;
    text-align: center;
    background-color: #EA2126;
    border-radius: 4px;

    p, span {
      line-height: inherit;
    }
  }

  &__date--end {
    background-color: #EEEEEE;
  }

  & + .relate-content {
    margin-top: 10px;
  }
}

.diagram {
  width: 100%;
  margin-bottom: 50px;
  @include FlexRow($jc: flex-start);

  &__title {
    width: 100%;
    max-width: 100px;
    font-size: 20px;
    @include FontBD;
  }

  &__title span {
    display: block;
    @include FontRG;
    color: #666666;
  }

  &__list {
    width: 100%;
    @include FlexRow;
  }

  & + .button__wrap .button {
    padding: 22.5px 50px;
    font-size: 22px;
  }
}

.diagram__phase {
  width: 180px;
  height: 180px;
  padding: 20px;
  @include FlexRow($jc: center);
  align-content: center;
  flex-wrap: wrap;
  color: #000000;
  color: #EA2126;
  border-radius: 50%;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  background-color: #ffffff;

  &--mid {
    position: relative;

    .phase__title--mid i {
      position: absolute;
      font-size: 16px;
      font-style: normal;
      @include FontMD;
      color: #EA2126;
      top: 100%;
      right: -50%;
      transform: translate(15%, -65%);

      &::after {
        z-index: -1;
        height: 100%;
        width: 1px;
        position: absolute;
        right: 50%;
        top: -100%;
        content: '';
        background: repeating-linear-gradient(to bottom, rgba(234, 33, 38, 1) 0, rgba(234, 33, 38, 1) 3px, rgba(0,0,0,0) 3px, rgba(0,0,0,0) 6px);
      }
    }
  }

  &--final {
    margin-left: auto;
    position: relative;
    color: #ffffff;
    background-color: #EA2126;

    .phase::after {
      background-color: #ffffff;
    }

    .phase__title--final {
      @include FontMD;
      color: #ffffff;
    }

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: #DDDDDD;
    }
  }
}

.diagram__phase:not(:last-of-type) {
  margin-right: -22px;
}
  
.diagram__phase .phase {
  width: 100%;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 600;
  @include FontBasicSans;
  color: inherit;
  text-align: center;

  &::after {
    content: '';
    width: 18px;
    height: 1.5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #EA2126;
  }
}

.diagram__phase .phase__title {
  margin-top: 4px;
  @include FontDL;
  color: #000000;
  text-align: center;
}

/* WELFARE */

.welfare {
  @include subTabLocation;

  .sub-content {
    @include FlexRow($w: wrap, $a: flex-start);
  
    .list-content {
      padding: 40px;
      margin-bottom: 15px;
      box-sizing: border-box;
      flex-basis: calc(33.333% - 10px);
      flex-shrink: 0;
      border-radius: 10px;
      background-color: #FAFAFA;
    }
  
    .list-content__image {
      width: 50px;
      height: 50px;
      margin-bottom: 40px;
    }

    .list-content__title {
      font-size: 16px;
      @include FontBD;
      margin-bottom: 10px;
    }

    .list-content__description {
      min-height: 80px;
      color: #666666;
      @include FontDL;
    }

    .list-content__description--longer {
      min-height: 120px;
    }
  }
}

/* ETHICAL */

.ethical {
  @include subTabLocation;
  @include subTabCateLocation;

  .accordian__item:not(:last-of-type) {
    margin-bottom: 0;
  }

  .form-field__inner .input-box--info__input {
    width: 320px;
  }

  .sub-radio {
    width: 100%;
    margin-bottom: 40px;
    @include FlexRow($jc: flex-end);
  }

  .name-radio {
    margin-left: 20px;
  }

  .check-content__recomment {
    margin-top: 25px;
    padding-top: 25px;
    padding-left: 25px;
    @include FlexRow($a: flex-start);
    border-top: 1px solid #DDDDDD;

    .check-content__sub-title {
      width: 70px;
      padding-left: 20px;
      position: relative;

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 15px;
        height: 15px;
        background: url('../../../assets/images/w/common/icons/icon_enter.png') 0 0 no-repeat;
        background-size: contain;
        content: '';
      }
    }

    .check-content__description {
      width: 100%;
    }
  }

  .check-content__comment  {
    width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 8px;

    .button {
      width: 120px;
      height: 50px;
      position: absolute;
      bottom: 30px;
      right: 30px;
      display: inline-block;
      font-size: 18px;
      line-height: 50px;
      @include FontMD;
      color: #666666;
      text-align: center;
      background: #DDDDDD;
      border-radius: 5px;
    }
  }
  
  .check-content__comment textarea {
    width: 100%;
    height: 200px;
    font-size: 18px;
    @include FontDL;
    background: #FAFAFA;
    border: none;
    border-radius: inherit;
    overflow: hidden;
  }
}

.sub-container[data-content="新 윤리경영 원칙"] {

  .sub-content {
    @include FlexRow($w: wrap, $a: flex-start);
  
    .list-content {
      padding: 50px;
      margin-bottom: 15px;
      box-sizing: border-box;
      flex-basis: calc(33.333% - 10px);
      flex-shrink: 0;
      border-radius: 10px;
      background-color: #FAFAFA;
    }
  
    .list-content__label {
      font-size: 26px;
      line-height: 1;
      font-weight: 600;
      letter-spacing: 0;
      @include FontBasicSans;
      color: #EA2126;
      margin-bottom: 50px;
    }

    .list-content__title {
      font-size: 20px;
      @include FontBD;
      margin-bottom: 10px;
    }

    .list-content__subtitle {
      margin-bottom: 25px;
      display: block;
      @include FontDL;
    }

    .list-content__description {
      min-height: 190px;
      color: #666666;
      @include FontDL;
    }

    .list-content li {
      padding-left: 30px;
      margin-bottom: 6px;
      position: relative;
      @include FontDL;
      color: #666666;
    }

    .list-content .numbering {
      position: absolute;
      left: 0;
      top: -1.5px;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0;
      @include FontBasicSans;
    }

    .list-content--wide {
      width: 100%;
      max-width: calc(50% - 7.5px);
      flex-basis: auto;
    }
    
    .list-content--wide .list-content__description {
      min-height: 90px;
    }
  }
}

.sub-container[data-content="윤리경영 신고"] {

  .input-box--info + .input-box--file {
    margin-top: -120px;
  }

  .input-box--info__label {
    line-height: 24px;
  }
    
  textarea {
    padding: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  .numbering {
    margin-right: 2px;
    font-size: 19px;
    font-weight: 400;
    line-height: inherit;
    letter-spacing: 0;
    @include FontBasicSans;
  }

  dl {
    margin-bottom: 40px;

    dt {
      margin-top: 30px;
      font-size: 18px;
      @include FontMD;
    }

    .numbering {
      margin-right: 4px;
    }

    dd {
      margin-left: 32px;
      color: #666666;
    }

    dd:last-of-type {
      padding-left: 0;
    }
      
    dd:last-of-type::before {
      content: none;
    }
  }

  .sub-checkboxs {
    padding-top: 20px;
    border-top: 1px solid #000;
  }

  .button__form-submit {
    height: 70px;
    font-size: 22px;
  }
}

.verification {
  @include FlexRow($jc: flex-start);

  &__inner {
    max-width: 320px;
  }

  .button__wrap {
    width: 100%;
    @include FlexRow($jc: flex-start);
  }

  .button {
    width: calc(50% - 5px);
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    line-height: 25px;
    @include FontRG;
    color: #777777;

    i {
      margin-right: 10px;
      width: 25px;
      height: 25px;
      display: inline-block;
      background: {
        size: 100%;
        position: center center;
        repeat: no-repeat;
      }
    }
  }

  input {
    height: 50px;
    width: 100%;
    padding: 10px 30px;
    margin-top: 10px;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    line-height: 20px;
    @include FontDL;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    background-color: #fff;
  }

  .image-block {
    width: 500px;
    height: 130px;
    margin-right: 40px;
    background: {
      size: 100%;
      position: 0 0;
      repeat: no-repeat;
    }
  }

  &__notification {
    padding-left: 10px;
    margin-bottom: 5px;
    position: relative;
    display: block;
    color: #666666;
    font-size: 14px;
  }

  &__notification::before {
    position: absolute;
    content: '·';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.check-input {
  margin: 0 auto;
  max-width: 570px;

  &__wrap {
    padding: 60px; 
    box-sizing: border-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #FAFAFA;
  }
  
  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    @include FontMD;
  }

  &__input {
    display: block;
    padding: 18px 30px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    @include FontDL;
    background: #ffffff;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
  }

  .check-input__input + .check-input__input {
    margin-top: 10px;
  }

  &__button {
    width: 100%;
    height: 70px;
    padding: 0;
    display: block;
    font-size: 22px;
    line-height: 50px;
    @include FontBD;
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__description {
    margin: 30px 0 0;
    @include FontDL;
    color: #666666;
  }

  &__description a {
    display: inline-block;
    @include FontInherit;
    color: #055BFF;
  }
}

.check-content {
  margin-top: -20px;

  &__content {
    padding: 60px 80px;
    @include FlexRow($w: wrap, $jc: flex-start, $a: flex-start);
    background: #FAFAFA;
    border-radius: 10px;
  }

  &__title {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    @include FontBD;
  }

  &__sub-title {
    width: 110px;
    margin-bottom: 15px;
    color: #666666;
    @include FontDL;
  } 

  &__description {
    width: calc(100% - 110px);
    margin-bottom: 15px;
  }

  &__description-image {
    display: inline;
    color: #055BFF;
    text-decoration: underline;
  }

  &__process {
    padding: 110px 25px;
    text-align: center;
    border-radius: 10px;
    background: #DDDDDD;
  }

  &__process p {
    font-size: 18px;
    color: #888888;
  }
}

.declaration-list {

  &__description {
    padding: 25px 40px;
    margin-bottom: 40px;
    position: relative;
    @include FontDL;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
  }
  
  &__description--link {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    @include FontBD;
    text-decoration: underline;
  }

  &__title {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
  }
}

.declaration-list__list {

  li::before {
    content: "·";
  }

  &--row {
    width: 100%;
    @include FlexRow($w: wrap, $jc: flex-start, $a: flex-start);
  }

  &--row li {
    display: inline-flex;
    width: 50%;
    flex-basis: 50%;
    box-sizing: border-box;
  }
}

.declaration__sub {
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.declaration-list__sub-title {
  margin-bottom: 4px;
  @include FontMD;
}

.declaration-list__sub-list {
  margin-bottom: 15px;

  li {
    @include FontDL;
    color: #666666;
  }
  
  li::before {
    content: "-";
  }
}

.declaration-list__sub-box {
  padding: 50px 80px;
  box-sizing: border-box;
  background-color:#FAFAFA;
  border-radius: 10px;
  
  .declaration-list__list {
    width: 100%;
    @include FlexRow($w: wrap, $jc: flex-start, $a: flex-start);
    padding-bottom: 24px;
    margin-bottom: 40px;
    border-bottom: 1px solid #DDDDDD;
  }

  .declaration-list__list li {
    display: inline-flex;
    width: 50%;
    flex-basis: 50%;
    box-sizing: border-box;
  }

  .declaration-list__sub-title {
    margin-bottom: 15px;
  }
}

.declaration-list__button {
  height: 70px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 70px;
  @include FontBD;
  text-align: center;
  border-radius: 5px;
}